// colors
$color-main: #EB4D55;
$color-main-mask: rgb(232, 86, 94);
$color-white: #fff;
$color-text: #3D3D3D;
$color-shadow: #d0d0d0;
$color-bg: rgb(224, 224, 224);
$color-bg-dark: rgb(42, 42, 42);
$color-bg1: #eee6cc;
$color-bg2: #faf5e4;

// fonts
$font-main: 'Lato', sans-serif;
$font-second: 'Grand Hotel', cursive;

// animations
$transition: all 0.5s;