// colors 
$color-main: #14234e;
$color-second: #fd4b18;
$color-third: #37139a;
$color-white: #ffffff;
$color-dark: #0f0e0e;

// fonts
$font-main: 'Poppins', sans-serif;
$font-deco: 'Dancing Script', cursive;

//animations
$transition: all 0.5s ease-in-out;