// colors
$color-light: #fff;
$color-dark: #3a3a3a;

$color-main: #d5b467;

$color-bg: #f3f3f3;

$color-transparent: rgba(0,0,0,0.75);

// fonts 
$font-main: 'Roboto', sans-serif;

//animate
$transition: all 0.5s;

//section space 
$spacer: 100px;

