.footer {
    background-color: $color-primary-900;
    padding: 7.313rem 0 5.125rem;
    color: $color-white-text-high;

    @include breakpoint(mobile) {
        padding: 4rem 0;
    }

    .container-small {
        display: flex;
        flex-wrap: wrap;

        &>div {
            width: 50%;

            @include breakpoint(tablet) {
                width: 100%;
            }

            &:first-of-type {
                @include breakpoint(mobile) {
                    margin-bottom: 4rem;
                }

                img {
                    filter: brightness(1) invert(1);
                }
            }
        }
    }

    .right {
        padding-left: 1.375rem;
        
        @include breakpoint(tablet) {
            margin-top: 2rem;
            padding-left: 0;
        }

        @include breakpoint(mobile) {
            margin-top: 0;
        }

        &>div {
            & * {
                font-size: 1.5rem;
                line-height: 130%;
            }

            &>ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                @include breakpoint(tablet) {
                    justify-content: flex-start;
                }

                h3, .h3 {
                    font-size: 1.5rem;
                    line-height: 130%;
                    margin-bottom: 1.5rem;
                    font-weight: 450;
                }

                &>li {
                    &:nth-of-type(1) {
                        width: 100%;

                        @include breakpoint(mobileup) {
                            width: 16.563rem;
                        }
                    }

                    &:nth-of-type(2) {
                        width: 100%;

                        @include breakpoint(mobileup) {
                            width: 11.4rem;
                        }

                        h3, .h3 {
                            @include breakpoint(mobile) {
                                margin-top: 2.5rem;
                            }
                        }

                    }

                    &.address {
                        p:first-of-type {
                            line-height: 160%;
                        }

                        a:first-of-type {
                            margin-bottom: 0.75rem;
                        }
                    }
                }
            }

            &.bottom {
                margin-top: 4.7rem;

                @include breakpoint(mobile) {
                    margin-top: 3.25rem;
                }

                ul li a {
                    font-size: 1.25rem;
                    display: inline-block;
                }

                #scroll-up {
                    position: relative;
                    
                    padding-right: 1.875rem;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 1.5rem;
                        height: 1.5rem;
                        filter: brightness(1) invert(1);
                        background: url(../img/icons/arrow-up.svg) center;
                        margin-bottom: -0.313rem;
                        margin-left: 0.75rem
                    }
                }
            }

            a {
                text-decoration: underline;
                display: block;
            }

            nav > ul {
                li {
                    margin-bottom: 0.75rem;
                    
                    a {
                        font-size: 1.5rem;
                        font-family: $primary-font;
                        font-weight: 400;
                    }
                }
                

            }
        }

    }
}