body.home .header {
    padding: 5.188rem 0 9rem;

    @include breakpoint(tablet) {
        padding: 2.5rem 0 6.063rem;
    }

    .container {

        &>div:first-of-type {
            width: 65%;

            @include breakpoint(tablet) {
                width: 100%;
            }

            h1 {
                margin: 0 0 2.875rem;

                @include breakpoint(mobile) {
                    margin: 0 0 2.5rem;
                }
            }

            .btn:not(.btn--tertiary) {
                font-size: 1rem;
                line-height: 1rem;
                padding: 1rem 1.5rem;
            }

            .btn--tertiary {
                padding-left: 0;

                @include breakpoint(mobile) {
                    margin-top: 1.1rem;
                }
            }

        }

        #header-slider {
            margin-top: 7.5rem;

            @include breakpoint(mobile) {
                margin-top: 4rem;
            }

            &>li {
                figure {
                    width: 100%;
                    height: 34.875rem;
                    margin-bottom: 1.5rem;

                    @include breakpoint(mobile) {
                        height: 22.625rem;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                &>a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }

                    &>h3,
                    &>.h3 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #header-slider-mw {
        @include breakpoint(mobile) {
            margin-right: -1rem;
        }
    }
}

.header-simple {
    padding: 5.938rem 0;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }

    .container-small {
        &>div {
            max-width: 41rem;

            p {
                font-size: 1.75rem;
                line-height: 140%;
                margin: 0;

                @include breakpoint(mobile) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.header-simple-img {
    padding: 5.938rem 0 14.063rem;
    position: relative;
    margin-bottom: 27.125rem;

    @include breakpoint(tablet) {
        margin-bottom: 9.188rem;
        padding: 5.188rem 0 11.25rem;
    }

    .container {
        position: relative;
    }

    .breadcrumbs {
        position: absolute;
        top: -2.6rem;
        left: 0.9rem;

        @include breakpoint(mobile) {
            left: 1.9rem;
        }
    }

    .container-small {
        position: relative;

        h1 {
            margin-bottom: 2.125rem;

            @include breakpoint(mobile) {
                margin-bottom: 1.5rem;
            }
        }

        &>div {
            max-width: 40rem;

            p {
                font-size: 1.75rem;
                line-height: 140%;
                margin: 0;

                @include breakpoint(mobile) {
                    font-size: 1.5rem;
                }
            }
        }

        &>.btn {
            margin-top: 5.438rem;

            @include breakpoint(tablet) {
                margin-top: 1.5rem;
            }
        }
    }

    .container:not(:first-child) {

        &>figure {
            width: 55.313rem;
            height: 39.25rem;
            max-width: calc(100% - 21.938rem);
            position: absolute;
            top: calc(100% - 6rem);
            right: 1.125rem;

            @include breakpoint(tablet) {
                width: 100%;
                height: 13.875rem;
                max-width: calc(100% - 2.25rem);
                top: calc(100% + 60px);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.header-block {
    padding: 4.563rem 0 7rem;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }

    &>.container-small {

        &>h1 {
            margin-bottom: 4.625rem;

            @include breakpoint(mobile) {
                margin-bottom: 1.5rem;
            }
        }

        .dark-block-2cols {
            padding: 0;

            .container-small {
                padding: 0;

                &>div {
                    @include breakpoint(mobile) {
                        padding: 2rem 1.5rem;
                    }
                }
            }
        }
    }
}

.utforsk .header-block,
.utforsk-podcast .header-block {
    h1 {
        text-align: center;
    }
}


.header-referanse {
    padding: 2.5rem 0 6rem;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }

    &>.container {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        .breadcrumbs {
            margin: 0 0 1.625rem;
            width: 100%;

            @include breakpoint(mobile) {
                margin: 0 0 1rem;
            }
        }

        &>div:not(.breadcrumbs) {
            width: 48%;
            position: relative;
            padding-left: 7.5rem;

            @include breakpoint(laptop) {
                padding-left: 4rem;
            }

            @include breakpoint(tablet) {
                width: 100%;
                padding-left: 0;
                margin-bottom: 2.5rem;
            }
        }

        h1 {
            margin: 0 0 2rem;

            &+p {
                padding-bottom: 6rem;
                margin-bottom: 6rem;
                border-bottom: 1px solid $color-neutral-granitt-400;

                @include breakpoint(tablet) {
                    padding-bottom: 3rem;
                    margin-bottom: 3rem;
                }

                @include breakpoint(mobile) {
                    padding-bottom: 1.5rem;
                    margin-bottom: 1.5rem;
                }
            }
        }

        h3, .h3 {
            margin-bottom: 1rem;
        }

        ul {
            li {
                font-size: 1.25rem;
                line-height: 150%;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                span {
                    font-weight: 450;
                }
            }

            @include breakpoint(mobile) {
                margin-bottom: 1rem;
            }
        }

        .btn-category {
            border: 1px solid $color-primary-900;
            padding: 0.5rem;
            font-size: 1rem;
            color: $color-black;
            transition: $transition;
            position: absolute;
            right: 0;
            bottom: 0;
            display: inline-block;

            &:hover {
                background-color: $color-neutral-granitt-300;
            }

            @include breakpoint(mobile) {
                position: static;
            }
        }

        &>figure {
            width: 50%;
            padding-left: 9.75rem;

            @include breakpoint(laptop) {
                padding-left: 3rem;
            }

            @include breakpoint(tablet) {
                width: 100%;
                padding-left: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.header-article {
    padding: 6rem 0 2rem;
    position: relative;

    @include breakpoint(mobile) {
        padding: 5.188rem 0 2rem;
    }

    &::before {
        content: "";
        width: 100%;
        height: calc(100% - 31.25rem);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-secondary-beige;
        z-index: -1;

        @include breakpoint(mobile) {
            height: calc(100% - 14rem);
        }
    }

    .container {
        position: relative;
    }

    .breadcrumbs {
        position: absolute;
        top: -3.5rem;
        left: 0.9rem;

        @include breakpoint(mobile) {
            top: -3rem;
            left: 1.8rem;
        }
    }

    .container-small {
        &>div:first-of-type {
            max-width: 55.5rem;
            margin: 0 auto 8.438rem;

            @include breakpoint(mobile) {
                margin: 0 auto 2rem;
            }

            &>a {
                margin-bottom: 2rem;
                margin-right: 0.5rem;
            }

            h1 {
                font-family: $secondary-font;
                margin-bottom: 3rem;

                @include breakpoint(mobile) {
                    padding-right: 10%;
                    margin-bottom: 1.5rem;
                }
            }

            p {
                font-size: 1.75rem;
                line-height: 140%;
                margin: 0;

                @include breakpoint(mobile) {
                    font-size: 1.5rem;
                }
            }
        }

        &>figure {
            width: 100%;
            position: relative;

            img {
                display: block;
            }

            video {
                width: 100%
            }

            .btn-play {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .meta {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 2rem 0 0.5rem;
            border-bottom: 1px solid $color-black-text-disabled;
            max-width: 55rem;
            margin: auto;

            &>div {
                a {
                    text-decoration: underline;
                    font-size: 1.25rem;
                    line-height: 150%;
                }

                p {
                    color: $color-black-text-medium;
                    margin: 0;
                }
            }

            &>ul {
                display: flex;
                gap: 1rem;

                a {
                    transition: $transition;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.header-kontakt {
    padding: 8rem 0 8.875rem;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }

    .container-small {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &>div {
            width: 26.25rem;

            @include breakpoint(mobile) {
                margin-bottom: 4rem;
            }

            h1 {
                margin-bottom: 6rem;

                @include breakpoint(mobile) {
                    margin-bottom: 4rem;
                }
            }

            address {
                font-style: normal;
                margin-bottom: 4rem;

                @include breakpoint(mobile) {
                    margin-bottom: 3rem;
                }

                p {
                    font-size: 2rem;
                    line-height: 130%;
                    font-weight: 450;
                    display: inline-block;

                    &:not(:first-child) {
                        font-weight: 400;
                        margin-bottom: 1.5rem;
                        border-bottom: 1px solid $color-black-text-high;

                        @include breakpoint(mobile) {
                            font-size: 1.5rem;
                            line-height: 140%;
                            margin-bottom: 1rem;
                        }
                    }


                }

                a {
                    font-size: 2rem;
                    line-height: 130%;
                    display: inline-block;
                    margin-bottom: 0.5rem;
                    border-bottom: 1px solid $color-black-text-high;
                    transition: $transition;

                    &:hover {
                        opacity: 0.8;
                    }

                    @include breakpoint(mobile) {
                        font-size: 1.5rem;
                        line-height: 140%;
                    }
                }
            }
        }

        &>figure {
            img {
                height: 100%;
            }

        }
    }
}