.prosjekter {
    padding: 6rem 0;

    @include breakpoint(mobile) {
        padding: 2.5rem 0 1rem;
    }
    
    .prosjekter-desktop {
        @include breakpoint(mobile) {
            display: none;
        }
    }

    .prosjekter-mobile {
        display: none;

        @include breakpoint(mobile) {
            display: block;
        }
    }

    .container-small {

        &>h2,
        &>.h2,
        &>p {
            max-width: 41rem;
        }

        &>p {
            margin-bottom: 0.938rem;
        }

        &>a.link {
            margin-bottom: 2.5rem;

            @include breakpoint(mobile) {
                margin-bottom: 2rem;
            }
        }

        &>.btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            margin-top: 3rem;
            margin-bottom: 0rem;

            @include breakpoint(tablet) {
                display: inline-block;
            }
        }
    }

    ul.prosjekter-grid {
        width: 100%;

        li {
            width: calc(50% - 20px);
            
            &:not(:last-child) {
                margin-bottom: 5rem;

                @include breakpoint(mobile) {
                    margin-bottom: 1.5rem;
                }
            }

            @include breakpoint(mobile) {
                width: 100%;
            }



            figure {
                width: 100%;
                margin-bottom: 2rem;

                @include breakpoint(mobile) {
                    margin-bottom: 1.5rem;
                }

                img {
                    width: 100%;
                    display: block;

                    @include breakpoint(mobile) {
                        height: 22.625rem;
                        object-fit: cover;
                    }
                }
            }

            &>div {
                padding: 0 6rem 0 1.5rem;

                @include breakpoint(mobile) {
                    padding: 0;
                }
            }

            .tag--category {
                margin-bottom: 1.25rem;
                margin-right: 1rem;

                @include breakpoint(mobile) {
                    margin-bottom: 0.75rem;
                }
            }

            a.title,
            h3, .h3 {
                display: block;
                text-decoration: underline;
                transition: $transition;
                margin: 0;
            }

            &:hover {
                cursor: pointer;
                a.title,
                h3 {
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
        }
    }

    #prosjekter-slider-mw {
        margin-right: -1rem;
    }

    .prosjekter-mobile ul.prosjekter-grid li {
        margin-bottom: 1.5rem;
    }
}

.referenser .prosjekter {
    padding: 8rem 0;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }
}