.section-img {
    padding: 4rem 0;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }

    figure {
        width: 100%;
        
        img {
            width: 100%;
            height:auto;
        }
    }
}