.section-podcast {
    padding: 3rem 0 2.7rem;

    @include breakpoint(mobile) {
        padding: 2rem 0 1.7rem;
    }

    .container-small {
        max-width: 56.063rem;
        padding: 0;

        @include breakpoint(mobile) {
            padding: 0 1.125rem;
        }
    }
}

.section-podcast-list {
    padding: 2.5rem 0;

    @include breakpoint(mobile) {
        padding: 2rem 0 1.7rem;
    }

    .container-small {
        max-width: 41rem;

        ul:first-of-type {
            margin-bottom: 1rem;

            li {
                margin: 0;

                &:not(:last-child) {
                    margin: 0 0 1.8rem;
                }
                
                p {
                    margin: 0;
                    font-weight: 450;

                    &:last-child {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}