.text-2cols {
    padding: 10.563rem 0 11.563rem;

    @include breakpoint(tablet) {
        padding: 4rem 0;
    }

    .container-small {
        display: flex;
        flex-wrap: wrap;

        h2, .h2 {
            width: 41.43%;

            @include breakpoint(tablet) {
                width: 100%;
            }
        }

        &>div {
            width: 58.57%;

            @include breakpoint(tablet) {
                width: 100%;
            }

            &>p {
                font-size: 1.75rem;
                line-height: 150%;
                margin-bottom: 3rem;

                @include breakpoint(mobile) {
                    font-size: 1.125rem;
                }
            }
        }

        .btn {
            font-size: 1rem;
            line-height: 1.313rem;
        }
    }
}