* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    height: 600px;
    background-color: #efefef;
    width: 100%;
    background-image: url("img/portfolio-bg.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    margin: auto;
    width: 100%;
}

@media (min-width: 768px) {

    .container {
        width: 90%;
    }

}

@media (min-width: 1200px) {

    .container {
        width: 1178px;
    
    }

}

/* portfolio items */
.portfolio {
    padding: 80px 0;
    position: relative;
}

/* .portfolio::before {
    content: "";
    width: 60%;
    height: 120px;
    position: absolute;
    right: 0;
    top: 180px;
    display: block;
    z-index: -1;
    background-color: #f7b33c;
} */

.portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_item {
    width: calc(33.333% - 50px);
    height: 300px;
    margin-bottom: 70px;
    display: block;
    border: 1px solid #000;
    position: relative;
    background-size: cover;
    transition: all 0.5s;
}

.portfolio_item:nth-of-type(1) {
    background-image: url('img/1.jpg');
}

.portfolio_item:nth-of-type(2) {
    background-image: url('img/2.jpg');
}

.portfolio_item:nth-of-type(3) {
    background-image: url('img/3.jpg');
}

.portfolio_item:nth-of-type(4) {
    background-image: url('img/4.jpg');
}

.portfolio_item:nth-of-type(5) {
    background-image: url('img/5.jpg');
}

.portfolio_item::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: -25px;
    top: -25px;
    border: 1px solid #f7b33c;
    z-index: -1;
    transition: all 0.5s;
}

.portfolio_item:hover::before {
    top: 0;
    left: 0;
}

.portfolio_mask {
    width: 101%;
    height: 101%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color: rgba(247, 179, 60, 0.9);
    opacity: 0;
    transition: all 0.5s;
}

.portfolio_mask:hover {
    opacity: 1;
}


/* stopka */
.footer {
    background-color: #efefef;
    padding: 30px 0;
}

.footer .container {
    text-align: center;
}

.footer .container .copy {
    margin: 30px 0 0;
    font-size: 12px; 
    letter-spacing: 2px;
}


.footer .container a {
    color: #f7b33c;
    position: relative;
    text-decoration: none;
    transition: all 0.5s;
    margin-bottom: 30px;
    font-weight: 700;
}

.footer .container a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 20px;
    bottom: -5px;
    background-color: #2c7c7a;
    transition: all 0.5s;
}

.footer .container a:hover::after {
    width: calc(100% + 5px);

}