.header {
  position: relative;

  .header--bgWhite {
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: $color-white;
    opacity: 0.9;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 34% 100%, 0% 100%);
  }

  .header--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/header.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  .header--circle {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: $color-second;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .header--circleInner {
      width: 95px;
      height: 95px;
      background-color: $color-main;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 200px; 

      img {
        height: 28px;
      }
    }


  }

  .nav--container {
    display: flex;
  }

  a.header--logo {
    font-size: 3.53em;
    font-family: $font-deco;
    margin-right: 50px;

    @include xxl {
      position: absolute;
      left: 20px;
    } 
  }

  .menu--list {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;

    .menu--item {
      a {
        font-size: 0.94em;
        text-transform: uppercase;
      }

      &.active {
        a {
          color: $color-main;
        }
      }
      
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  h1.title1 {
    padding: 70px 0 170px;
  }
}