.penting {
    .penting--imgContainer {
        z-index: -2;
        text-align: right;
        width: 50%;

        .penting--img {
            margin-left: auto;
            height: auto;
            max-height: 693px;
            width: 80%;
            margin-left: auto;
        }
    }

}