.section-txt {
    position: relative;

    .section-txt--container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 117px;
    }

    .section-txt--bg {
        position: absolute;
        width: calc(75% - 7px);
        height: 100%;
        background-color: $color-main;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%);
        right: 0;
        z-index: -1;

        &.section-txt--bgLeft {
            right: unset;
            left: 0;
            clip-path: polygon(0 0, 100% 0, 35% 100%, 0 100%);
        }
      }
    
      .section-txt--text {
        display: inline-block;
        width: 50%;
        padding: 154px 0 0;
        text-align: left;
    
        .smallTitle,
        p.smallTitle {
            color: $color-white;
            font-weight: 700;
            margin: 20px 0 80px;
        }
    
        p {
          color: $color-white;
          margin-bottom: 116px;
          padding-right: 170px;
        }

        &.section-txt--textRight {
            text-align: right;

            p {
                padding-left: 170px;
                padding-right: 0;
            }
        }
      }
    
      .section-txt--imgContainer {
          display: inline-block;

          .section-txt--img {
            width: 50%;
            max-height: 509px;
          }
      }
    
      .section-txt--text {
        display: inline-block;
        width: 49%;
      }

      
}