.btn {
    background: #9E0054;
    border-radius: 6px;
    border: 2px solid #9E0054;
    font-size: 18px;
    line-height: 1.6;
    padding: 15.6px 24px 14.7px 24px;
    margin-right:17px;
    color: #F7F7F7;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    min-width: 118px;
    text-align: center;
    @include breakpoint(mobile) {
        min-width: 96px;
    }
    @include breakpoint(mobilesmall) {
        min-width: 90px;
    }
    
    &:hover {
       opacity:.7;
    }
    
    &--secondary {
        background: transparent;
        border-color: #2C282E;
        color: #2C282E;
        &:hover {
            background: $black !important;
            color:#F7F7F7;
            opacity:1;
        }
    }

    &--white-transparent {
        background: transparent;
        border-color: $color-text-light1;
        color: $color-text-light1;
    }

    &--light {
        background: $color-neutral50;
        border-color: $color-neutral50;
        color: $black;
    }

    &--tertiary {
        background: $color-secondary700;
        border-color: $color-secondary700;
        color: black;
    }
    
}

