.img-text-section {
    margin-bottom: 120px;
    @include breakpoint(tablet) {
        margin-bottom: 60px;
    }

    .img-text-section--items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .img-text-section--inner,
        img.img-text-section--img {
            width: calc(50% - 15px);
            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        .img-text-section--inner {
            padding-right: 140px;
            margin: 90px 0;
            @include breakpoint(tablet) {
                padding-right: 60px;
            }
            @include breakpoint(mobile) {
                padding-right: 0;
                margin: 0 0 36px;
            }

            h2, 
            .heading2 {
                @include breakpoint(mobile) {
                    margin: 0 0 16px;

                    &+p {
                        font-size: 18px;
                        line-height: 27px;
                    }
                }

            }

            a.link {
                @include breakpoint(mobile) {
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }

        img.img-text-section--img {
            object-fit: cover;
            border-radius: 6px;
        }


    }
}