.navigation {
    padding: 24px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.2s;
    @include breakpoint(mobile) {
        background-color: $color-tertiary700;
        padding: 20px 0;
    }

    &.fixed {
        background-color: $color-tertiary700;
    }

    &>.container {
        display: flex;
        justify-content: space-between;
    }

    .navigation-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 113px;
            filter: brightness(1) invert(1);
            @include breakpoint(mobilesmall) {
                width: 95px;
            }
        }
    }

    .navigation-right {
        display: inline-block;
        z-index: 2;

        .navigation-links-desktop {
            display: inline-block;
            margin-right: 25px;
            margin-left: 7px;

            @include breakpoint(mobile) {
                display: none;
            }

            &> a {
                display: inline-flex;
                color: $white;
                text-decoration: none;
                margin: 0 25px;
                font-size: 18px;

                &> img {
                    margin-left: 8px;
                }
            }

        }

        .navigation-btns {
            display: inline-flex;
            z-index: 99999;
            position: relative;

            .btn {
                padding: 8.15px 21.5px;
                margin: 0;

                &:not(:last-child) {
                    margin-right: 26px;
                    @include breakpoint(mobile) {
                        margin-right: 12px;
                    }
                }

                @include breakpoint(mobile) {
                    font-size: 14.5px;
                    padding: 5.5px 20px;
                    border-radius: 2.41634px;

                    &:nth-child(1) {
                        border-color: #A47E85;
                    }
    
                    &:nth-child(2) {
                        border-color: $color-secondary700;
                    }
                }


            }
      
            .menu-toggle {
                display: inline-block;
                margin-left: 9px;
                transform: translateY(2px);                

                span {
                    display: block;
                    height: 2px;
                    width: 18px;
                    background-color: $white;
                    transition: all 0.3s;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    &:nth-of-type(1) {
                        transition-delay: 0.1s;
                    }

                    &:nth-of-type(3) {
                        transition-delay: 0.1s;
                    }
                }
            }

            .btn-menu {
                @include breakpoint(mobile) {
                    padding: 5.5px 14px;
                    border-color: $color-secondary700;
                }

                &.btn-menu-open {

                    .menu-toggle {

                        span {
                            background-color: $black;
                        }

                        span:nth-of-type(1) {
                            transform: rotate(45deg) translate(5px, 5px);
                        }

                        span:nth-of-type(2) {
                            transform: scale(0);
                        }

                        span:nth-of-type(3) {
                            transform: rotate(-45deg) translate(5px, -5px);
                        }
                    }
                }
            }
        }
    }
}

.menu-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(40, 40, 40, 0.87);
    opacity: 0;
    transition: opacity 0.3s;
}

.menu-inner {
    height: 100vh;
    width: 545px;
    background-color: $color-neutral50;
    display: inline-block;
    position: fixed;
    top: 0;
    right: -105vw;
    padding: 174px 138px 50px 132px;
    transition: $transition;
    @include breakpoint(mobile) {
        width: 100vw;
        padding: 120px 57px 50px 58px;
    }

    .menu-item,
    li.menu-item {
        margin-bottom: 24px;
        @include breakpoint(mobile) {
            margin-bottom: 13px;
        }
        
        a {
            text-decoration: none;
            color: $black;
            font-size: 23px;
            line-height: 34.5px;
            @include breakpoint(mobile) {
                font-size: 18px;
                line-height: 27px;
            }
        }

        &:hover {
            &>a {
                color: $color-primary900;
            }
        }

        ul.sub-menu {
            max-height: 0;
            overflow: hidden;
            transition: $transition;
            

            li.menu-item {
                margin-bottom: 16px;
                padding-left: 20px;

                &::after {
                    content: "-";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                a {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }

        &.open {
            ul.sub-menu {
                max-height: 400px;
                margin: 20px 0;
            }
        }

    }

    hr {
        width: 100%;
    }

    ul.secondary-menu {
        width: 120px;

        .menu-item,
        li.menu-item {
            margin-bottom: 25px;
            width: 100%;

            a {
                font-size: 18px;
                line-height: 27px;
                width: 100%;
                display: block;
            }

            &.has-plus {
                .plus {
                    width: 14.2px;
                    right: 0;
                }
            }
        }
    }

    .menu-only-mobile {
        display: none;
        @include breakpoint(mobile) {
            display: block;
        }

        &+hr.hr-line {
            display: none;
            @include breakpoint(mobile) {
                display: block;
            }
        }

        .menu-item a img {
            filter: brightness(0);
            margin-left: 12px;
            margin-bottom: -3px;
        }
    }
}

.menu-open {
    .menu-overlay {
        opacity: 1;
        z-index: 3;
    }

    .menu-inner {
        right: 0;
    }

    &.has-topbar .navigation {
        top: 0px;
    }

    .navigation {

        .navigation-right .navigation-btns {
            position: absolute;
            top: 25px; 
            right: 135px;
            @include breakpoint(mobile) {
                right: 10px;
            }
        }

        &.fixed {
            background-color: transparent;
        }

        .navigation-logo {
            opacity: 0;

            @include breakpoint(mobile) {
                opacity: 1;
                z-index: 3;
                position: absolute;
                top: 10px;

                img {
                    filter: none;
                }
                
            }
        }

        .navigation-right {
            .navigation-links-desktop {
                opacity: 0;
                @include breakpoint(mobile) {
                    display: none;
                }
            }
        }
        
        .navigation-btns {

            .btn:first-child {
                border-color: #A47E85;
            }

            .btn--white-transparent {
                color: $black;
            }

            .btn-menu,
            .btn:nth-child(2) {
                border-color: transparent;

            }


        }
        

    } 
}