.search-section {

    @include breakpoint(mobile) {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .heading2 {
        margin-right: 57px;
        margin-bottom: 0;

        @include breakpoint(tablet) {
            margin-right: 20px;
        }
    }

    input.search-section--input {
        background: transparent url(../../assets/img/icons/search-light.svg) 22px no-repeat;
        padding: 15.6px 24px 14.7px 55px;
        margin-right: 11px;
        flex-grow: 1;

        &:placeholder {
            color: #272727;
            opacity: 0.72;
        }
    }

    .btn {
        margin-right: 0;
        width: 180px;
    }
}