// colors
$color-white: #fff;
$color-titles: #3d3d3d;
$color-text: #292929;
$color-dark-section: #232323;
$color-dark: #353434; 
$color-main: #fec016;
$color-section-bg: #f8f8f8;

$mask: rgba(1,1,1,0.89);

// fonts
$font-main: 'Open Sans', sans-serif;
$font-second: 'Roboto', sans-serif;