@import 'scss/base';
@import 'scss/components/wrapper';
@import 'scss/components/header';
@import 'scss/components/main-item';
@import 'scss/components/list';
@import 'scss/components/list-actions';


.App {
  background-image: url(./assets/images/bg-desktop-dark.jpg);
  background-size: 100% 280px;
  background-repeat: no-repeat;
}