.section-404 {
    padding: 5.5rem 0 10.625rem;

    @include breakpoint(tablet) {
        padding: 2.3rem 0 5rem;
    }

    .container {
        &>h1 {
            max-width: 33.75rem;
            margin-bottom: 2.3rem;
            line-height: 120%;

            @include breakpoint(tablet) {
                margin-bottom: 2.1rem;
            }
        }

        &>div {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &>p {
                width: 33.75rem;
                max-width: 100%;
                font-size: 1.7rem;
                line-height: 150%;

                @include breakpoint(tablet) {
                    width: 100%;
                    margin-bottom: 2.688rem;
                    font-size: 1.125rem;
                }
            }

            &>nav {
                padding-left: 9.875rem;
                padding-top: 0.313rem;

                @include breakpoint(tablet) {
                    padding-left: 0;
                    width: 100%;
                }

                ul {
                    li {

                        &:not(:last-child) {
                            margin-bottom: 1.9rem;
                        }

                    }
                }
            }
        }
    }
}