// Global Sass variables

// fonts
$font-main: 'Roboto', sans-serif;
$font-second: 'Open Sans', sans-serif;
$font-deco: 'Times New Roman', serif;

// colors
$color-back: #fff;
$color-text-dark: #000000;
$color-text: #222222;
$color-dark: #45484f;
$color-main: #cca375;
$color-link: #cca375;
$color-bg-light: #efefef;


$transition: all 0.6s ease;