// Global Sass variables

// fonts
$font-main: 'Montserrat', sans-serif;
$font-size: 14px;

// colors
$color-back: #fff;
$color-dark: #000;
$color-text: #434343;
$color-text2: #747474;
$color-text3: #515151;
$color-text-light: #fff;
$color-main: #0444cc;
$color-section-bg: #f4f5f8;
$color-section-dark: #171717;
$color-text-footer: #b5b5b5;

//effects
$transition: all 0.5s;
