@import '../bootstrap/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@media (min-width: 48rem) {
  .container {
    max-width: 80.375rem;
  }
}

@media (min-width: 62rem) {
  .container-padding {
    padding-left: 15.829px;
    padding-right: 15.829px;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  color: #111111;
  margin: 0;
  width: 100%;
}

html, body {
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: #1B5B31;
}
a:hover {
  color: #1B5B31;
}

a.link {
  color: #1B5B31;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-bottom: 4px;
}
a.link img {
  height: 1rem;
  margin-left: 0.625rem;
  rotate: -90deg;
  transition: translate 0.5s;
}
a.link:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #1B5B31;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 0.5s;
}
a.link:hover:after {
  width: 0;
}
a.link:hover img {
  translate: 0.4rem 0;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: -0.16px;
}
@media (min-width: 48rem) {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.116;
}
.heading-1 > span,
.heading-2 > span,
.heading-3 > span,
.heading-4 > span,
.heading-5 > span,
.heading-6 > span {
  font-style: italic;
}

.heading-top {
  font-size: 0.75rem;
  color: #1B5B31;
  letter-spacing: -0.12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.heading-1,
h1 {
  font-family: Montserrat;
  font-size: 1.8rem;
  line-height: 1.166;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .heading-1,
  h1 {
    font-size: 2.8rem;
    margin-bottom: 2.75rem;
  }
}
@media (min-width: 62rem) {
  .heading-1,
  h1 {
    font-size: 3.75rem;
  }
}

.heading-2 {
  font-size: 1.8rem;
  line-height: 1.15;
  margin-bottom: 2rem;
}
@media (min-width: 48rem) {
  .heading-2 {
    font-size: 3rem;
  }
}

.heading-3 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -1.4px;
  margin-bottom: 0.75rem;
}

.bg-beige {
  background-color: #DCC1AB;
}

.bg-green {
  background-color: #1B5B31;
  color: #F5F0EC;
}
.bg-green .heading-top {
  color: #F5F0EC;
}

.bg-grey {
  background-color: #F5F0EC;
}

.bg-black {
  background-color: #111111;
}

.btn,
a.btn,
button.btn,
input.btn {
  border: none;
  background-color: #1B5B31;
  color: #F5F0EC;
  padding: 0.75rem 1.2rem 0.875rem;
  transition: color 0.5s, filter 0.5s;
  border-radius: 10rem;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.btn:focus, .btn:active, .btn:focus-visible,
a.btn:focus,
a.btn:active,
a.btn:focus-visible,
button.btn:focus,
button.btn:active,
button.btn:focus-visible,
input.btn:focus,
input.btn:active,
input.btn:focus-visible {
  box-shadow: none;
}
.btn > svg,
a.btn > svg,
button.btn > svg,
input.btn > svg {
  margin-left: 0.5rem;
}
.btn:hover,
a.btn:hover,
button.btn:hover,
input.btn:hover {
  color: #F5F0EC;
  filter: brightness(1.2);
}
.btn:hover > svg path,
a.btn:hover > svg path,
button.btn:hover > svg path,
input.btn:hover > svg path {
  fill: #F5F0EC;
}
.btn-transparent,
a.btn-transparent,
button.btn-transparent,
input.btn-transparent {
  color: #1B5B31;
  background-color: transparent;
  border: 1px solid #1B5B31;
  transition: background-color 0.5s;
}
.btn-transparent:hover,
a.btn-transparent:hover,
button.btn-transparent:hover,
input.btn-transparent:hover {
  background-color: #1B5B31;
  filter: none;
}
.btn-transparent-light,
a.btn-transparent-light,
button.btn-transparent-light,
input.btn-transparent-light {
  color: #F5F0EC;
  background-color: transparent;
  border: 1px solid #F5F0EC;
  transition: background-color 0.5s;
}
.btn-transparent-light:hover,
a.btn-transparent-light:hover,
button.btn-transparent-light:hover,
input.btn-transparent-light:hover {
  background-color: #F5F0EC;
  filter: none;
  color: #1B5B31;
}
.btn-transparent-light:hover svg path,
a.btn-transparent-light:hover svg path,
button.btn-transparent-light:hover svg path,
input.btn-transparent-light:hover svg path {
  fill: #1B5B31;
}
.btn-transparent-dark,
a.btn-transparent-dark,
button.btn-transparent-dark,
input.btn-transparent-dark {
  color: #111111;
  background-color: transparent;
  border: 1px solid #111111;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.btn-transparent-dark:hover,
a.btn-transparent-dark:hover,
button.btn-transparent-dark:hover,
input.btn-transparent-dark:hover {
  background-color: #1B5B31;
  filter: none;
  color: #F5F0EC;
  border: 1px solid #1B5B31;
}
.btn-transparent-dark:hover svg path,
a.btn-transparent-dark:hover svg path,
button.btn-transparent-dark:hover svg path,
input.btn-transparent-dark:hover svg path {
  fill: #F5F0EC;
}
.btn:not(:last-of-type),
a.btn:not(:last-of-type),
button.btn:not(:last-of-type),
input.btn:not(:last-of-type) {
  margin-right: 1rem;
}
@media (min-width: 62rem) {
  .btn,
  a.btn,
  button.btn,
  input.btn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem 0.875rem;
  }
  .btn:not(:last-of-type),
  a.btn:not(:last-of-type),
  button.btn:not(:last-of-type),
  input.btn:not(:last-of-type) {
    margin-right: 2.25rem;
  }
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #111111;
  outline: none;
  color: #111111;
  padding: 0.3rem;
}

.fslightbox-container {
  background: rgba(17, 17, 17, 0.8);
}

.fslightbox-slide-btn {
  background-color: transparent;
}

.animation-up {
  translate: 0 2rem;
  opacity: 0;
  transition: translate 0.5s, opacity 0.5s;
}

.animation-up.active {
  translate: 0 0;
  opacity: 1;
}

.animation-left {
  translate: 2rem 0;
  opacity: 0;
  transition: translate 0.5s, opacity 0.5s;
}

.animation-left.active {
  translate: 0 0;
  opacity: 1;
}

.navbar {
  padding: 1.5rem 0;
  background: #ffffff;
}
.navbar .dropdown-toggle::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  translate: 0 29%;
  margin-left: 5px;
  border: none;
  background-image: url("../images/icons/dropdown.svg");
}
.navbar .navbar-toggler {
  width: 35px;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  padding: 0.1rem;
}
@media (min-width: 992px) {
  .navbar .navbar-toggler {
    display: none;
  }
}
.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
  box-shadow: none;
}
.navbar .navbar-toggler span {
  width: 100%;
  height: 1px;
  background-color: #111111;
  transition: translate 0.5s, rotate 0.5s;
}
.navbar .navbar-toggler[aria-expanded=true] span:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 14px;
}
.navbar .navbar-toggler[aria-expanded=true] span:nth-of-type(2) {
  translate: -3rem 0;
}
.navbar .navbar-toggler[aria-expanded=true] span:nth-of-type(3) {
  translate: 0 -7px;
  rotate: -45deg;
}
.navbar ul.navbar-nav {
  color: #111111;
  display: flex;
  gap: 0;
}
@media (min-width: 62rem) {
  .navbar ul.navbar-nav {
    gap: 3rem;
  }
}
.navbar ul.navbar-nav > .nav-item a {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.14px;
  transition: color 0.5s;
}
.navbar ul.navbar-nav > .nav-item:hover .nav-link {
  color: #1B5B31;
}
.navbar .navbar-search {
  display: flex;
  align-items: center;
}
.navbar .navbar-search > input {
  border: none;
  border-bottom: 1px solid #111111;
  margin: 0;
  width: 13rem;
  max-width: calc(100% - 4rem);
  margin-left: 0;
  padding: 0;
  transition: width 0.5s;
}
@media (min-width: 62rem) {
  .navbar .navbar-search > input {
    margin-left: 2rem;
    width: 0;
  }
}
.navbar .navbar-search .btn-search {
  border: none;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: rotate 0.5s;
}
.navbar .navbar-search .btn-search img {
  height: 1.5rem;
  opacity: 1;
}
.navbar .navbar-search .btn-close {
  display: none;
  opacity: 1;
}
.navbar .navbar-search.open > input {
  width: 13rem;
  padding: 0 0.6rem 0 0.6rem;
}
@media (min-width: 62rem) {
  .navbar .navbar-search.open .btn-search {
    rotate: 180deg;
  }
}
.navbar .navbar-search.open .btn-search img {
  display: inline-block;
}
@media (min-width: 62rem) {
  .navbar .navbar-search.open .btn-search img {
    display: none;
  }
}
.navbar .navbar-search.open .btn-close {
  display: none;
}
@media (min-width: 62rem) {
  .navbar .navbar-search.open .btn-close {
    display: inline-block;
  }
}
.navbar .dropdown-menu {
  border: none;
  top: 3.8rem;
  padding: 0 0 1rem;
  z-index: 4;
}
@media (min-width: 48rem) {
  .navbar .dropdown-menu {
    padding: 0 0 0.3rem;
    border-radius: 0 0 1rem 1rem;
  }
}
.navbar .dropdown-menu > li {
  padding: 0.5rem 0;
}
@media (min-width: 48rem) {
  .navbar .dropdown-menu > li {
    padding: 0.5rem 0 0.5rem 0.8rem;
  }
}
@media (min-width: 48rem) {
  .navbar .dropdown-menu > li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.navbar .dropdown-menu .dropdown-item {
  transition: color 0.5s;
  padding: 0 1rem;
  font-size: 0.9;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #1B5B31;
}
.navbar .nav-item.dropdown .nav-link::after {
  transition: rotate 0.5s;
}
.navbar .nav-item.dropdown .nav-link.show::after {
  rotate: -180deg;
}

.header .carousel-item {
  position: relative;
  min-height: 35rem;
  transition: none;
}
@media (min-width: 62rem) {
  .header .carousel-item {
    min-height: 31rem;
  }
}
@media (min-width: 62rem) {
  .header .carousel-item {
    min-height: 46.063rem;
  }
}
.header .carousel-item .header-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s ease-out;
  z-index: 0;
}
@media (min-width: 48rem) {
  .header .carousel-item .header-photo {
    width: 40%;
    height: 100%;
  }
}
@media (min-width: 62rem) {
  .header .carousel-item .header-photo {
    width: 47.77%;
  }
}
@media (min-width: 48rem) {
  .header .carousel-item .header-photo-left {
    width: calc(47.77% - 2rem);
    right: unset;
    left: 0;
  }
}
.header .carousel-item .heading-1,
.header .carousel-item p {
  animation: showYourself 1s forwards;
  animation-delay: 0.5s;
  translate: 0 2rem;
  opacity: 0;
}
.header .carousel-item.active .header-photo {
  opacity: 1;
}
.header .carousel-item.active .heading-1,
.header .carousel-item.active p {
  animation: showYourself 1s forwards;
}
@keyframes showYourself {
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
.header .carousel-item > .container {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
@media (min-width: 48rem) {
  .header .carousel-item > .container {
    padding-top: 4rem;
    padding-bottom: 8.938rem;
  }
}
@media (min-width: 62rem) {
  .header .carousel-item > .container {
    padding-top: 9.031rem;
  }
}
.header .carousel-item > .container .carousel-bg {
  background-color: #DCC1AB;
  z-index: 2;
  position: relative;
  margin-right: 1rem;
  padding: 1rem 0.2rem;
}
@media (min-width: 48rem) {
  .header .carousel-item > .container .carousel-bg {
    padding: 0;
    background-color: transparent;
    margin-right: 0;
  }
}
.header .carousel-item > .container .heading-1 {
  max-width: 31.25rem;
}
.header .carousel-item > .container .heading-1 ~ p {
  max-width: 30.563rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .header .carousel-item > .container .heading-1 ~ p {
    margin-bottom: 4.5rem;
  }
}
.header .carousel-item > .container .btn {
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .header .carousel-item > .container .btn {
    margin-bottom: 1.5rem;
  }
}
.header .slider-btns {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  width: 6rem;
  z-index: 3;
}
@media (min-width: 48rem) {
  .header .slider-btns {
    width: 12rem;
  }
}
.header .carousel-control-next,
.header .carousel-control-prev {
  opacity: 1;
  width: 50%;
  padding: 0;
  position: static;
  padding: 1rem 1.5rem 0.7rem;
  background-color: #F5F0EC;
}
@media (min-width: 48rem) {
  .header .carousel-control-next,
  .header .carousel-control-prev {
    padding: 1.5rem 2rem 1.2rem;
  }
}
.header .carousel-control-next .carousel-control-next-icon,
.header .carousel-control-next .carousel-control-prev-icon,
.header .carousel-control-prev .carousel-control-next-icon,
.header .carousel-control-prev .carousel-control-prev-icon {
  background-image: none;
}
.header .carousel-control-next .carousel-control-next-icon img,
.header .carousel-control-next .carousel-control-prev-icon img,
.header .carousel-control-prev .carousel-control-next-icon img,
.header .carousel-control-prev .carousel-control-prev-icon img {
  width: 1rem;
}
@media (min-width: 48rem) {
  .header .carousel-control-next .carousel-control-next-icon img,
  .header .carousel-control-next .carousel-control-prev-icon img,
  .header .carousel-control-prev .carousel-control-next-icon img,
  .header .carousel-control-prev .carousel-control-prev-icon img {
    width: 1.518rem;
  }
}
.header .carousel-control-prev {
  padding-right: 1rem;
}
.header .carousel-control-next {
  padding-left: 1rem;
}

.offer .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 62rem) {
  .offer .container {
    padding-top: 7.5rem;
    padding-bottom: 10rem;
  }
}
.offer .container .heading-2 + p {
  margin-bottom: 4rem;
}
@media (min-width: 62rem) {
  .offer .container .heading-2 + p {
    margin-bottom: 6rem;
  }
}
.offer .container .offer-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
@media (min-width: 48rem) {
  .offer .container .offer-list {
    gap: 1rem;
  }
}
@media (min-width: 62rem) {
  .offer .container .offer-list {
    gap: 3rem;
  }
}
.offer .container .offer-list .offer-item {
  background-color: #ffffff;
  border-radius: 1.75rem;
  padding: 2.5rem 2rem;
  position: relative;
  transition: translate 0.5s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 48rem) {
  .offer .container .offer-list .offer-item {
    flex: 1;
  }
}
@media (min-width: 62rem) {
  .offer .container .offer-list .offer-item {
    padding: 3rem 2.5rem;
  }
}
.offer .container .offer-list .offer-item > figure {
  height: 2.5rem;
  margin-bottom: 2.125rem;
}
.offer .container .offer-list .offer-item > figure > img {
  max-height: 100%;
}
.offer .container .offer-list .offer-item > .heading-3 {
  margin-bottom: 0.75rem;
}
.offer .container .offer-list .offer-item > p {
  font-size: 0.875rem;
  margin-bottom: 3.938rem;
  line-height: 1.5;
  letter-spacing: -0.14px;
}
.offer .container .offer-list .offer-item > a.link {
  margin-top: auto;
}
.offer .container .offer-list .offer-item::after {
  content: "";
  width: 80%;
  height: 5px;
  position: absolute;
  display: block;
  background-color: #1B5B31;
  bottom: -5px;
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 0.5s;
  left: 50%;
  translate: -50% 0;
}
.offer .container .offer-list .offer-item:hover {
  translate: 0 -0.5rem;
}
.offer .container .offer-list .offer-item:hover::after {
  opacity: 1;
}

.about {
  position: relative;
}
.about .about-img-wrapper {
  height: 22em;
}
@media (min-width: 48rem) {
  .about .about-img-wrapper {
    height: 33rem;
  }
}
@media (min-width: 62rem) {
  .about .about-img-wrapper {
    height: auto;
  }
}
.about .about-img {
  height: 20rem;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
@media (min-width: 48rem) {
  .about .about-img {
    height: 30rem;
  }
}
@media (min-width: 62rem) {
  .about .about-img {
    width: 47.77%;
    position: absolute;
    height: 100%;
  }
}
.about .container {
  padding-bottom: 3rem;
}
@media (min-width: 62rem) {
  .about .container {
    padding-top: 8.438rem;
    padding-bottom: 8.438rem;
    padding-left: 10rem;
  }
}
.about .container .heading-2 {
  margin-bottom: 2.5rem;
}
.about .container .heading-2 + p {
  margin-bottom: 2.5rem;
}
@media (min-width: 48rem) {
  .about .container .heading-2 + p {
    margin-bottom: 4.5rem;
  }
}

.portfolio {
  position: relative;
  overflow: hidden;
  padding-top: 3.5rem;
}
@media (min-width: 62rem) {
  .portfolio {
    padding-top: 7.5rem;
  }
}
.portfolio::after {
  content: "";
  background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0) 100%);
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  max-height: 70%;
}
.portfolio .portfolio-masonry {
  margin-top: 3rem;
  transition: height 0.5s;
}
@media (min-width: 62rem) {
  .portfolio .portfolio-masonry {
    margin-top: 6rem;
  }
}
.portfolio .portfolio-masonry .portfolio-item {
  opacity: 1;
  transition: opacity 2s;
}
.portfolio .portfolio-masonry .portfolio-item > img {
  width: 100%;
}
.portfolio .portfolio-masonry .portfolio-item.hide {
  display: none;
  opacity: 0;
}
.portfolio .portfolio-masonry .portfolio-item:hover {
  cursor: zoom-in;
}
.portfolio > .btn-wrapper {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 3rem;
}
@media (min-width: 62rem) {
  .portfolio > .btn-wrapper {
    padding-bottom: 5.594rem;
  }
}
.portfolio > .btn-wrapper .btn {
  margin: 0 auto;
}
.portfolio > .btn-wrapper .btn span.less {
  display: none;
}

.cta {
  padding: 3.75rem 0;
}
.cta .cta-box {
  padding: 3rem 2.5rem;
  background-color: #1B5B31;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (min-width: 48rem) {
  .cta .cta-box {
    padding: 3.5rem 3rem;
  }
}
@media (min-width: 62rem) {
  .cta .cta-box {
    padding: 7.5rem 6.875rem;
    flex-wrap: nowrap;
  }
}
.cta .cta-box > * {
  color: #F5F0EC;
}
.cta .cta-box .heading-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -2px;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 62rem) {
  .cta .cta-box .heading-2 {
    font-size: 2.5rem;
    width: 73%;
    text-align: left;
    margin-bottom: 0;
    margin-right: 4rem;
  }
}
.cta .cta-box .heading-2 span {
  font-weight: 500;
}
.cta .cta-box .cta-link {
  width: 100%;
  text-align: center;
}
@media (min-width: 62rem) {
  .cta .cta-box .cta-link {
    width: auto;
    text-align: left;
  }
}
.cta .cta-box .cta-link p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.16px;
  margin-bottom: 1.5rem;
}
.cta .cta-box .btn {
  background-color: #F5F0EC;
  color: #1B5B31;
  border: 1px solid #F5F0EC;
  transition: corder 0.5s, background-color 0.5s;
}
.cta .cta-box .btn:hover {
  background-color: transparent;
  border: 1px solid #F5F0EC;
  filter: none;
  color: #F5F0EC;
}

.footer {
  padding: 3rem 0;
}
@media (min-width: 48rem) {
  .footer {
    padding: 5rem 0;
  }
}
.footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #F5F0EC;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 62rem) {
  .footer .footer-top {
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 3.875rem;
    margin-bottom: 3.875rem;
  }
}
.footer .footer-top a.logo img {
  height: 1.188rem;
  filter: brightness(1) invert(1);
}
.footer .footer-top p {
  color: #F5F0EC;
  margin: 0;
}
@media (min-width: 62rem) {
  .footer .footer-top p {
    margin-left: auto;
  }
}
@media (min-width: 48rem) {
  .footer .footer-top .btn {
    margin-left: 1.5rem;
  }
}
.footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer nav > ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
@media (min-width: 48rem) {
  .footer nav > ul {
    width: auto;
    justify-content: flex-start;
  }
}
@media (min-width: 62rem) {
  .footer nav > ul {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
}
.footer nav > ul li,
.footer nav > ul li > a {
  color: #F5F0EC;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.14px;
}
@media (min-width: 62rem) {
  .footer nav > ul li.address,
  .footer nav > ul li > a.address {
    margin-left: auto;
  }
}
.footer nav > ul li > a {
  position: relative;
}
.footer nav > ul li > a::after {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 1px;
  background-color: #F5F0EC;
  bottom: -5px;
  left: 0;
  transition: width 0.5s;
}
.footer nav > ul li > a:hover::after {
  width: 100%;
}
.footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 4rem;
}
@media (min-width: 62rem) {
  .footer .copyright {
    padding-top: 7.5rem;
  }
}
.footer .copyright p {
  color: #F5F0EC;
  margin: 0;
  letter-spacing: -0.16px;
  width: 100%;
}
@media (min-width: 62rem) {
  .footer .copyright p {
    width: auto;
  }
}
.footer .copyright p img {
  margin-left: 1rem;
}
.footer .copyright p:last-child {
  margin-top: 2rem;
}
@media (min-width: 62rem) {
  .footer .copyright p:last-child {
    margin-top: 0;
  }
}/*# sourceMappingURL=styles.css.map */