body {
    font-family: $font-main;
    font-size: 100%;
    color: $black;
    margin: 0;
    width: 100%;
}

html, body {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

// links
a {
    text-decoration: underline;
    color: $green;

    &:hover {
        color: $green;
    }
}

a.link {
    color: $green;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 4px;
    
    img {
        height: 1rem;
        margin-left: 0.625rem;
        rotate: -90deg;
        transition: translate $transition-duration;
    }

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: $green;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: width $transition-duration;
    }

    &:hover {
        &:after {
            width: 0;
        }

        img {
            translate: 0.4rem 0;
        }
    }
}

// paragraphs
p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: -0.16px;

    @include sm {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

// headings 
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    font-family: $font-second;
    font-weight: 500;
    line-height: 1.116;

    &>span {
        font-style: italic;
    }
}

.heading-top {
    font-size: 0.75rem;
    color: $green;
    letter-spacing: -0.12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.heading-1,
h1 {
    font-family: Montserrat;
    font-size: 1.8rem;
    line-height: 1.166;
    margin-bottom: 1rem;

    @include sm {
        font-size: 2.8rem;     
        margin-bottom: 2.75rem;
    }

    @include lg {
        font-size: 3.75rem;
    }
}

.heading-2 {
    font-size: 1.8rem;
    line-height: 1.15;
    margin-bottom: 2rem;

    @include sm {
        font-size: 3rem;
    }
}

.heading-3 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -1.4px;
    margin-bottom: 0.75rem;
}

// sections bg
.bg-beige {
    background-color: $beige;
}

.bg-green {
    background-color: $green;
    color: $grey;

    .heading-top {
        color: $grey;
    }
}

.bg-grey {
    background-color: $grey;
}

.bg-black {
    background-color: $black;
}

// btns
.btn,
a.btn,
button.btn,
input.btn {
    border: none;
    background-color: $green;
    color: $grey;
    padding: 0.75rem 1.2rem 0.875rem;
    transition: color $transition-duration, filter $transition-duration;
    border-radius: 10rem;
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: $font-main;

    &:focus,
    &:active,
    &:focus-visible {
        box-shadow: none;
    }

    &>svg {
        margin-left: 0.5rem;
    }

    &:hover {
        color: $grey;
        filter: brightness(1.2);

        &>svg {
            path {
                fill: $grey;
            }
        }
    }



    &-transparent {
        color: $green;
        background-color: transparent;
        border: 1px solid $green;
        transition: background-color $transition-duration;

        &:hover {
            background-color: $green;
            filter: none;
        }
    }

    &-transparent-light {
        color: $grey;
        background-color: transparent;
        border: 1px solid $grey;
        transition: background-color $transition-duration;

        &:hover {
            background-color: $grey;
            filter: none;
            color: $green;

            svg path {
                fill: $green;
            }
        }
    }

    &-transparent-dark {
        color: $black;
        background-color: transparent;
        border: 1px solid $black;
        transition: background-color $transition-duration, border $transition-duration, color $transition-duration;

        &:hover {
            background-color: $green;
            filter: none;
            color: $grey;
            border: 1px solid $green;

            svg path {
                fill: $grey;
            }
        }
    }

    &:not(:last-of-type) {
        margin-right: 1rem;
    }

    @include lg {
        font-size: 1rem;
        padding: 0.75rem 1.5rem 0.875rem;

        &:not(:last-of-type) {
            margin-right: 2.25rem;
        }
    }
}

//inputs 
input[type="text"] {
    border: none;
    border-bottom: 1px solid $black;
    outline: none;
    color: $black;
    padding: 0.3rem;
}

// lighbox
.fslightbox-container {
    background: $black-overlay;
}

.fslightbox-slide-btn {
    background-color: transparent;
}

// animations
.animation-up {
    translate: 0 2rem;
    opacity: 0;
    transition: translate $transition-duration, opacity $transition-duration;
  }

  .animation-up.active {
    translate: 0 0;
    opacity: 1;
  }

  .animation-left {
    translate: 2rem 0;
    opacity: 0;
    transition: translate $transition-duration, opacity $transition-duration;
  }

  .animation-left.active{
    translate: 0 0;
    opacity: 1;
  }
