// colors
$white: #ffffff;
$black: #111111;
$beige: #DCC1AB;
$green: #1B5B31;
$grey: #F5F0EC;
$black-overlay: rgba(17, 17, 17, 0.8);


// fonts
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

  $font-main: 'Inter', sans-serif;
  $font-second: 'Montserrat', sans-serif;


//   transtiions
$transition-duration: 0.5s;