// colors
$color-bg: #edeceb;
$color-1: #ffda77;
$color-2: #17c3b2;
$color-3: #ff888d;
$color-4: #d08ef6;
$color-5: #ffac63;
$color-6: #6fade7;

$color-dark: #202020;
$color-dark-hover: #3b3b3b;
$color-light: #f6f6f6;
$color-border: #cbcbcb;

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

$font-main: 'Raleway', sans-serif;
$font-deco: 'Nanum Brush Script', cursive;

body {
  background-color: $color-bg;
  color: $color-dark;
  font-family: $font-main;
  font-size: 100%;
  position: relative;

  * {
    box-sizing: border-box;
  }
}


.container {
  width: calc(100% - 5rem);
  margin: auto;
}

.btn {
  border-radius: 100%;
  border: none;
  background-color: $color-dark;
  width: 2rem;
  height: 2rem;
  color: $color-light;
  font-size: 1.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: $color-dark-hover;
  }
}

.header {
  padding: 2rem 0;
  border-bottom: 0.063rem solid $color-border;

  .container {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    font-family: $font-deco;
    margin: 0;
    display: inline-block;
    margin-right: 1rem;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 2.5rem 0;

  .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
      width: calc(20% - 2rem);
    }

    @media (min-width: 1200px) {
      width: calc(33.33333% - 1.25rem);
    }

    &>div {
      padding: 0.5rem;
      width: 100%;
      height: 100%;
      border-radius: 0.7rem;
      background-color: $color-1;

      @media (min-width: 1200px) {
        padding: 1rem 1.5rem 1rem 1rem;
      }
    }


  
    p {
      margin: 0;
      font-size: 0.9rem;
    }

    p.text {
      width: 100%;
      height: 6rem;
      overflow-x: hidden;
      overflow-y: auto;
      scroll-behavior: smooth;
      margin: 0 0 1.5rem;

      &::-webkit-scrollbar {
        width: 0.2em;
      }
       
      &::-webkit-scrollbar-track {
        background: transparent;
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: $color-dark;
        border-radius: 1rem;
        outline: none;
      }

    }

     .btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;

          svg {
            height: 0.7rem;
          }

          &:last-child {
            margin-left: 0.4rem;
          }
      }
    }
  
    .btn {
      width: 1.4rem;
      height: 1.4rem;
      font-size: 0.9rem;
    }
  }
}

.modal {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.8);
  z-index: 999;
  display: none;

  &.show {
    display: flex;
  }

  .modal-inner {
    width: 40rem;
    max-width: 95%;
    background-color: $color-light;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 2.5rem;
    font-family: $font-deco;
    margin: 0 0 1rem;
    text-align: center;
    background-color: $color-2;
    padding: 0.5rem;
    width: 100%;
  }

  ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 2rem;
    list-style: none;
    margin-left: auto;

    li {
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
      border-radius: 100%;
      cursor: pointer;
    }
  }

  textarea {
    border: none;
    width: 90%;
    min-height: 20rem;
    max-height: 20rem;
    min-width: 90%;
    max-width: 90%;
    margin: auto;
    display: block;
    padding: 1rem;
    background-color: rgba(255,255,255, 0.8);
    font-size: 1.3rem;
    border-radius: 0.5rem;
    transition: background-color 0.4s;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .btn-add {
    margin: 1rem auto 1.3rem;
    background-color: $color-2;
    border: none;
    padding: 0.3rem 0.6rem;
    font-family: $font-deco;
    font-size: 2rem;
    display: block;
    cursor: pointer;
    transition: filter 0.5s;
    
    &:hover {
      filter: brightness(1.1);
    };
  }
}

.bg1,
.item>div.bg1,
textarea.bg1 {
  background-color: $color-1;
}

.bg2, 
.item>div.bg2,
textarea.bg2 {
  background-color: $color-2;
}

.bg3, 
.item>div.bg3,
textarea.bg3 {
  background-color: $color-3;
}

.bg4, 
.item>div.bg4,
textarea.bg4 {
  background-color: $color-4;
}

.bg5, 
.item>div.bg5,
textarea.bg5 {
  background-color: $color-5;
}

.bg6, 
.item>div.bg6,
textarea.bg6 {
  background-color: $color-6;
}

