.pasta {
    background-color: $color-bg2;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .pasta--img {
        width: 100%;
        height: 440px;

        @include xl {
            width: calc(50% - 40px);
            height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .pasta--text {
        width: 100%;
        padding: 150px 0;

        @include xl {
            width: calc(50% + 40px);
            height: auto;            
        }

        p, h2.title2, .title2 {
            @include xl{
                text-align: left;
                margin-left: 65px;
            }
        }

        .btn {
            margin: 30px auto;

            @include xl{
                margin-left: 65px;
            }
        }
    }
}