.subscribe {
    background-color: $color-bg2;

    * {
        box-sizing: border-box;
    }

    form {
        width: 100%;
        position: relative;
        margin: 40px auto 80px;

        @include md {
            width: 80%;
        }

        input {
            position: absolute;
        }

        input[type="email"] {
            border: none;
            background-color: $color-white;
            height: 45px;
            width: 100%;
            border-radius: 30px;
            padding-left: 20px;

            &::placeholder {
                color: #000;
                opacity: 0.5;
            }
        }

        input.btn {
            right: 0;
            padding: 15px 30px;

            @include md {
                padding: 15px 60px;
            }
        }


    }
}