.offer {

    .container {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include lg {
            padding-top: 7.5rem;
            padding-bottom: 10rem;
        }
    
        .heading-2 + p {
            margin-bottom: 4rem;

            @include lg {
                margin-bottom: 6rem;
            }
        }

        .offer-text {
            

            @include lg {
                padding: 0 20rem 0 0.8rem;
            }
        }



        .offer-list {
            display: flex;
            list-style: none;
            gap: 1.5rem;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
            margin-bottom: 0;

            @include sm {
                gap: 1rem;
            }

            @include lg {
                gap: 4rem;
            }

            .offer-item {
                background-color: $white;
                border-radius: 1.75rem;
                padding: 2.5rem 2rem;
                position: relative;
                transition: translate $transition-duration;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                @include sm {
                    flex: 1;
                }

                @include lg {
                    padding: 3rem 2.5rem;
                }
                
                &>figure {
                    height: 2.5rem;
                    margin-bottom: 2.125rem;

                    &>img {
                        max-height: 100%;   
                    }
                }
    
                &>.heading-3 {
                    margin-bottom: 0.75rem;
                }
    
                &>p {
                    font-size: 0.875rem;
                    margin-bottom: 3.938rem;
                    line-height: 1.5;
                    letter-spacing: -0.14px;
                }

                &>a.link {
                    margin-top: auto;
                }
    
                &::after {
                    content: '';
                    width: 80%;
                    height: 5px;
                    position: absolute;
                    display: block;
                    background-color: $green;
                    bottom: -5px;
                    border-radius: 2rem;
                    opacity: 0;
                    transition: opacity $transition-duration;
                    left: 50%;
                    translate: -50% 0;
                }
    
                &:hover {
                    translate: 0 -0.5rem;
    
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }


    }
}