
.navigation {
    width: 100%;
    padding: 2.922rem 0 2.5rem;
    z-index: 999;
    background-color:$color-black;

    @include breakpoint(tablet) {
        padding: 1.7rem 0 2rem;
    }

    .container--xl {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &>a {
            display: block;
            z-index: 9999999;

            img {
                height: 2.40625rem;

                @include breakpoint(tablet) {
                    height: 2.188rem;
                }
            }
        }

        button.menu-btn {
            width: 2.5rem;
            background: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            display: none;
            z-index: 9999999;
            position: relative;
            outline: none;
            border: none;

            &>img {
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                transition: opacity 0.3s;
            }
            
            span {
                width: 100%;
                height: 2px;
                background-color: $color-gray;
                display: block;
                transition: $transition;

                &:nth-of-type(2) {
                    margin: 0.813rem 0;
                }
            }

            @include breakpoint(tablet) {
                display: inline-block;
            }

            &.open {
                &>img {
                    opacity: 1;
                }

                span:nth-of-type(1) {
                    transform: translateX(-5rem);
                    opacity: 0;
                }

                span:nth-of-type(2) {
                    transform: rotate(-40deg);
                    width: 107%;
                }

                span:nth-of-type(3) {
                    transform: translateX(5rem);
                    opacity: 0;
                }
            }
        }

        &>div {
            display: block;

            @include breakpoint(tablet) {
                position: absolute;
                width: 100%;
                top: 0rem;
                left: 0;
                background-color: $color-black;
                z-index: 999999;
                height: 100vh;
                padding-top: 5rem;
                transform: translate(0%, -130vh);
                opacity: 0;
                transition: transform 0s, opacity 0.5s;

                &.open {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
            
            &>ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

                @include breakpoint(tablet) {
                    justify-content: flex-start;
                    padding: 0 2.5rem;

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }

                }

                li {
                    font-size: 1.125rem;
                    line-height: 150%;
                    @include link-underline;

                    &:not(:last-child) {
                        margin-right: 2.5rem;
                    }

                    @include breakpoint(tablet) {
                        font-size: 1.125rem;
                    }

                    @include breakpoint(tablet) {
                        font-size: 1.5rem;
                        margin-bottom: 1.875rem;
                    }

                    &.li-btn {
                        > a{
                            @extend .btn;
                            @extend .btn--xs;
                        }
                        &::after {
                            display: none;
                        }
                    }

                    .btn {
                        margin-left: -1rem;
                        margin-top: 0.625rem;

                        @include breakpoint(tablet) {
                            padding: 0.938rem 3.125rem;
                        }
                    }

                    &:not(:disabled):not(.disabled) {
                        &::after {
                            transform: scaleX(0);
                        }

                        @include breakpoint(tablet) {
                            &::after {
                                display: none;
                            }
                        }
                    }

                    &:hover {
                        color: $color-primary;

                        &:not(:disabled):not(.disabled):not(.dropdown) {
                            &::after {
                                transform: scaleX(1);
                                transform-origin: left center;
                            }
                        }

                    }

                    @include breakpoint(tablet) {
                        margin-right: 0;

                        &:not(:last-child) {
                            margin-right: 0;
                            width: 100%;
                        }
                    }

                    &>a {
                        display: inline-block;
                        margin-right: 0;
                        
                        @include breakpoint(tablet) {
                            margin-bottom: 0;

                        }
                    }


                }
            }
        }
    }

}