.section-bg{
  background-size:1440px;
  background-position: center;
  background-repeat: no-repeat;
}

// .abstract-bg{
  
//   background-image:url(../img/header.svg);
//   background-size:1440px;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.section-white{
  background:$color-white;
  color:$color-black;
  p{
    color:$color-black;
  }
.container {
    max-width:39.125rem;
  }
}