.employees {
    padding: 9.25rem 0 9.375rem;

    @include breakpoint(tablet) {
        padding: 3rem 0 4rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &>h2 {
            margin: 0 0 3rem;
            width: 100%;
        }

        &>ul.employees-ul {
            width: 45%;

            @include breakpoint(mobile) {
                width: 100%;
            }

            &>li {
                border-radius: 15px;
                display: flex;
                align-items: center;
                padding: 1.875rem;
                cursor: pointer;
                transition: background 0.5s;

                &.active {
                    background: #1F1F1F;
                }

                &>figure {
                    margin-right: 1.875rem;

                    img {
                        height: 3.625rem;
                        width: 3.625rem;
                        display: block;
                    }
                }

                &>div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &>h3 {
                        font-size: 1.125rem;
                        line-height: 160%;
                        letter-spacing: -0.02em;
                        margin: 0;
                    }

                    &>p {
                        font-size: 1rem;
                        line-height: 160%;
                        letter-spacing: -0.02em;
                        margin: 0;
                        color: #A3A3A3;
                    }
                }

                
                
            }
        }

        &>div {
            width: 40%;

            @include breakpoint(mobile) {
                width: 100%;
            }

            .employee {
                display: none;
                opacity: 0;

                @include breakpoint(tablet) {
                    margin-top: 2rem;
                }
                

                &.active {
                    display: block;
                    animation: show 1s forwards;
                }

                @keyframes show {
                    to {
                        opacity: 1;
                    }
                }

                &>h3 {
                    font-size: 1.75rem;
                    line-height: 130%;
                    letter-spacing: normal;
                    margin: 0 0 0.688rem;
                }

                &>p {
                    font-size: 1rem;
                    line-height: 160%;
                    color: #A3A3A3;
                    letter-spacing: -0.02em;
                    margin: 0 0 0.688rem;
                }

                &>div {
                    &>p {
                        font-size: 1.125rem;
                        line-height: 160%;
                        letter-spacing: -0.02em;
                    }
                }
            }
        }
    }
}