body.home .header {
    padding: 7.5rem 0 10.75rem;

    @include breakpoint(tablet) {
        padding: 4rem 0 5rem;
    }
    @include breakpoint(tablet) {
        background-position: 0% 0%;
        background-size:1400px;
    }
    .container {
        position: relative;
        z-index: 9;

        &>div:first-of-type {
            width: 72%;

            @include breakpoint(tablet) {
                width: 100%;
            }

            h1 {
                margin: 0 0 4rem;
                overflow-wrap: break-word;

                em {
                    font-style: normal;
                    color:$color-primary;
                }

                @include breakpoint(tablet) {
                    margin: 0 0 2.5rem;
                }
            }

            

            .btn {
                font-size:1.125rem;
               line-height:160%;
            }

        }
    }

    #header-slider-mw {
        @include breakpoint(tablet) {
            margin-right: -1rem;
        }
    }
}

.header-simple {
    padding: 0 0 8.125rem;

    @include breakpoint(tablet) {
        padding: 5rem 0;
    }

    .breadcrumbs {
        margin-bottom: 8.25rem;

        @include breakpoint(tablet) {
            display: none;
        }
    }

    .container {
        position: relative;

        &>div {
            max-width: 41rem;

            h1 {
                margin: 0 0 5rem;

                @include breakpoint(mobile) {
                    margin: 0 0 3rem;
                }
            }

            p {
                font-size: 1.25rem;
                line-height: 160%;
                margin: 0;

                @include breakpoint(tablet) {
                    font-size: 1.125rem;
                    line-height: 150%;
                }
            }

            &>.btn {
                margin-top: 2rem;
            }
        }
    }
}

.header-dots {
    height: 60%;
    width: 100%;
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    overflow: hidden;
    opacity: 0.2;

    @include breakpoint(tablet) {
        height: 40%;
        top: 25%;
    }
}

header.header-postion {
    position: relative;
    padding: 1.156rem 0 0;

    .breadcrumbs {
        position: absolute;
        top: 0;
        left: 0;
        margin: 2.875rem 0 10rem;
        left: 1.25rem;

        @include breakpoint(tablet) {
            display: none;
        }

    }

    .container {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &>div {
            width: 45%;
            margin-top: 14.625rem;

            @include breakpoint(tablet) {
                width: 100%;
                margin-top: 3rem;
            }

            .h2 {
                margin-bottom: 3rem;
            }

            .h2 + p {
                font-size: 1.25rem;
                line-height: 160%;
                margin-bottom: 3rem;

                @include breakpoint(mobile) {
                    font-size: 1.125rem;
                    line-height: 150%;
                }
            }
        }

        &>figure {
            width: 53%;            
            position: absolute;
            top: 0;
            right: -10rem;

            @include breakpoint(monitor) {
                right: -5rem;
            }

            @include breakpoint(laptop) {
                right: -3rem;
            }

            @include breakpoint(tablet) {
                width: calc(100% - 6rem);
                margin-left: auto;
                margin-right: -1.5rem;
                position: relative;
                order: -1;
            }

            @include breakpoint(mobile) {
                width: calc(100% - 2rem);
                margin-right: -1.25rem;
            }

            img:not(.logo) {
                width: 100%;
                height: 36.375rem;
                object-fit: cover;
                object-position: left bottom;

                @include breakpoint(tablet) {
                    height: 25rem;
                }

                @include breakpoint(mobile) {
                    height: 20rem;
                }
            }

            img.logo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 14.125rem;

                @include breakpoint(tablet) {
                    width: 10rem;
                }
            }

            &::before {
                content: "";
                display: block;
                width: 11rem;
                height: 11rem;
                @include gradient-background;
                border-radius: 100%;
                position: absolute;
                left: -5.5rem;
                top: 6.063rem;
                z-index: -1;

                @include breakpoint(mobile) {
                    width: 6rem;
                    height: 6rem;
                    left: -3rem;
                    top: 3rem;
                }
            }
            
        }

        .header-block {
            width: 100%;
            margin-top: 10.6rem;

            @include breakpoint(tablet) {
                margin-top: 5rem;
            }

            ul {
                padding: 3rem;
                background: #171717;
                border: 1px solid #252525;
                width: 41%;
                border-radius: 1.875rem;
                display: flex;
                flex-direction: column;
                gap: 1.125rem;

                @include breakpoint(mobile) {
                    gap: 1rem;
                    padding: 1.5rem;
                }

                @include breakpoint(tablet) {
                    width: 80%;
                }

                @include breakpoint(mobile) {
                    width: 90%;
                }

                li {
                    color: $color-white-text-medium;
                    font-size: 1.25rem;
                    line-height: 140%;
                    letter-spacing: -0.02em;

                    @include breakpoint(mobile) {
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}

header.header-postion-img {
    background-image: url(../img/postion-bg.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    padding-bottom: 9.25rem;
    position: relative;

    @include breakpoint(tablet) {
        padding-bottom: 5rem;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 10rem, rgba(0, 0, 0, 0.3) 17rem, rgba(0, 0, 0, 0.6) 23rem, rgb(0, 0, 0) 34rem);
        display: block;
        position: absolute;

        @include breakpoint(tablet) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 4rem,  rgba(0, 0, 0, 0.5) 6rem, rgba(0, 0, 0, 1) 10rem);
        }
    }

    .breadcrumbs {
        padding-top: 2.563rem;

        &>span {
            @include gradient-text;
        }

        @include breakpoint(tablet) {
            display: none;
        }
    }
    

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10rem;
        position: relative;
        z-index: 2;

        @include breakpoint(tablet) {
            padding-top: 5rem;
        }

        &>figure {
            width: 16.063rem;
            height: 16.063rem;
            background: #030303;
            border: 1px solid #272727;
            border-radius: 1.759rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 12rem;

                @include breakpoint(tablet) {
                    width: 7rem;
                }
            }
    
            @include breakpoint(tablet) {
                width: 9rem;
                height: 9rem;
            }

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        &>div {
            width: calc(100% - 16.063rem - 4.438rem);

            @include breakpoint(tablet) {
                width: calc(100% - 9rem - 2rem);
                margin-top: 2rem;
            }

            @include breakpoint(mobile) {
                width: 100%;
            }

            &>.h2 {
                margin: 0 0 3rem;
            }

            &>p {
                margin: 0 0 3rem;
            }
        }
    }

}

.popup-form {
    padding: 2.5rem 1.25rem 2.5rem 1.438rem;
    position: fixed;
    background: #171717;
    box-shadow: 0px 0px 10px rgba(24, 16, 120, 0.2);
    width: 20.625rem;
    border-radius: 40px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999999;

    @include breakpoint(tablet) {
        width: calc(100% - 5rem);
    }

    @include breakpoint(mobile) {
        width: calc(100% - 1.5rem);
    }

    &.open {
        display: block;
    }

    .btn-close {
        cursor:pointer;
        display: block;
        margin-left: auto;
        position: absolute;
        top: 1.563rem;
        right: 1.563rem;
        padding: 0;
        background: transparent;
        border: 0;
    }

    h3 {
        margin: 0 0 1.875rem;
        line-height: 150%;
        font-size: 1.25rem;
        color: $color-white-text-medium;
    }

    form {
        fieldset {
            width: 100%;
            display: none;

            &>label, .wpcf7-radio label {
                width: 100%;
                margin-bottom: 1.25rem;
                display: block;

                &.checkbox-label {
                    display: flex;
                }
            }

            &.active {
                display: block;
                max-height: calc(100vh - 100px);
                overflow-y: auto;
                padding-bottom: 1px;
            }
        }

        .btns {
            display: flex;
            flex-wrap: wrap;
            margin: 1.875rem 0 0;
            justify-content: space-between;

            &>.btn,
            &>.btn--secondary {
                display: inline-block;
                padding: 0.938rem 1.813rem;
                margin: 0;

                img {
                    margin-left: 0.531rem;
                    height: 0.8rem;
                }

                &:last-child {
                    margin-left: auto;
                }
            }
            .btn-next{
                padding-right:3.4375rem;
                &:after{
                    content:'';
                    position:absolute;
                    right:1.8125rem;
                    background-image: url(../img/icons/arrow-right.svg);
                    background-position:right center;
                    height:0.8rem;
                    width:1.25rem;
                    background-repeat:no-repeat;
                    top:23px;
                }
                
            }
            .wpcf7-spinner{
             flex:1 1 100%;   
            }
        }


    }


}

.error404 .header-simple, .e404 .header-simple {
    padding-bottom: 11.375rem;

    .breadcrumbs {
        margin-bottom: 8.313rem;
    }

    h1 {
        font-size: 4.25rem;
        line-height: 130%;

        @include breakpoint(tablet) {
            font-size: 3.5rem;
        }

        @include breakpoint(mobile) {
            font-size: 2.5rem;
        }
    }

    &>.container > div{
        max-width: 46.188rem;
        
        p {
            max-width: 32.25rem
        }
    }
}

.kontakt-oss .header-simple,
.kontakt-oss-skjema .header-simple {
    padding: 0 0 6.688rem;

    @include breakpoint(tablet) {
        padding: 0 0 3rem;
    }
}
