.logos {
    margin-bottom: 9.375rem;
    padding: 1.8rem 0;
    @include gradient-background;

    &>.container {
        max-width: 39.698rem;
        overflow: hidden;
    }
    
    @include breakpoint(tablet) {
        margin-bottom: 0;
    }

    .logos-slider {
        display: flex;
        align-items: center;
        gap: 6.25rem;

        @include breakpoint(tablet) {
            gap: 0;
        }

        @include breakpoint(mobile) {
            animation: ticker-kf 5s linear infinite;
        }

        figure {
            text-align: center;

            @include breakpoint(tablet) {
                width: 8rem;
                flex: none;
                margin: 0 1.5rem;
            }
     
            img {
                height: 2.438rem;
                opacity: 0.6;

                @include breakpoint(tablet) {
                    width: 100%;
                    height: auto;
                }
            }

            &.copy {
                display: none;

                @include breakpoint(tablet) {
                    display: block;
                }
            }
        }

        @keyframes ticker-kf {
            0% {
              transform: translate3d(0, 0, 0);
            }
          
            100% {
              transform: translate3d(-33rem, 0, 0);
            }
          }
    }





    
}