.section-cta {
    padding: 7.625rem 0 9rem;
    margin: 0 auto 9.375rem;
    text-align: left;
    background-color: $color-dark;
    border-radius: 30px;
    max-width:80rem;
    position: relative;
    background-color: #131313;
    overflow: hidden;

    &::after {
        content: "";
        width: 31.563rem;
        height: 31.563rem;
        border-radius: 100%;
        border: 0.938rem solid $color-primary-2;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(45%, -50%);
        z-index: 1;

        @include breakpoint(tablet) {
            display: none;
        }

    }

    @include breakpoint(laptop) {
        max-width: 62rem;
    }

    @include breakpoint(tablet) {
        margin: 0 1.25rem 5rem;
        padding: 0;
    }

    &> .header-dots2 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    
    .container {
        position: relative;

        @include breakpoint(tablet) {
            padding: 3.75rem 2.5rem;
        }

        h2,
        .h2 {
            margin: 0 0 2.5rem;
            
            em{
                font-style: normal;
                color:$color-primary;
            }
        }
        
        &>div {
            max-width: 43.9375rem;
        }
    }
}