.accordion {
        padding: 0;
        list-style: none; 

        &>li {
            position: relative;  
            cursor: pointer;
            border-top: 1px solid $color-black-text-disabled;
            border-bottom: 1px solid $color-black-text-disabled;
            margin-bottom: -1px;

            &>a.toggler > h3,
            &>a.toggler > h4,
            &>a.toggler > .h3,
            &>a.toggler > .h4, {
                cursor: pointer;
                z-index: 4;
                position: relative;
                margin: 0;
                padding: 0.75rem 4rem 0.75rem 0;
                font-size: 1.5rem;
                line-height: 120%;

                @include breakpoint(tablet) {
                    margin: 0;
                    font-size: 1.25rem;
                }

                &:focus {
                    border: 2px solid $color-info-700;
                }
            }

            &>div {
                max-height: 0;
                overflow: hidden;
                transition: $transition;
                
                .wysiwyg {
                    padding: 0.25rem 0 0.75rem;
                }
            }

            h3 , .h3 {
                position: relative;

                &::after,
                &::before {
                    position: absolute;
                    width: 1.234rem;
                    height: 0.131rem;
                    background: #000;
                    content: "";
                    right: 0;
                    top: calc(50% - 0.0625rem);
                }

                &::before {
                    position: absolute;
                    height: 1.234rem;
                    width: 0.125rem;
                    background: #000;
                    content: "";
                    transition: all 0.3s;
                    right: 0.617rem;
                    top: calc(50% - 0.617rem);
                }
            }

            &.open{

                h3 {
                    &::after {
                        background-color: $color-primary-900;
                    }

                    &::before {
                        transform: rotate(-90deg);
                        background-color: $color-primary-900;
                    }
                }
            }

        }
    }
