 .container-slider {
     position: relative;
     padding-right: 0;
     margin-right: 0;

     .slider-btns {
         display: flex;
         justify-content: space-between;
         position: absolute;
         top: 12rem;
         z-index: 3;
         width: 100%;
         padding: 0 3rem 0 0.625rem;
     }

     &.container {
         max-width: calc(100% + (100% - 86.75rem) / -2);
         width: calc(100% + (100% - 86.75rem) / -2);

         @include breakpoint(mobile) {
             max-width: calc(100% + 1.875rem);
             width: calc(100% + 1.875rem);
         }

         .tns-controls {
             padding-right: calc((100% - 86.75rem) / 2);
         }
     }

     &.container-small {
         max-width: calc(100% + (100% - 72.25rem) / -2);
         width: calc(100% + (100% - 72.25rem) / -2);

         @include breakpoint(mobile) {
             max-width: calc(100% + 1.875rem);
             width: calc(100% + 1.875rem);
         }

         .tns-controls {
             padding-right: calc((100% - 72.25rem) / 2);
         }
     }
 }

 //slider arrows
 .tns-controls {
     position: absolute;
     width: 100%;
     top: calc(50% - 4rem);
     z-index: 3;
     display: flex;
     justify-content: space-between;

     @include breakpoint(mobile) {
         display: none;
     }
 }

 button.prev-btn,
 button[data-controls="prev"],
 button.next-btn,
 button[data-controls="next"] {
     width: 5.438rem;
     height: 5.438rem;
     background-color: rgba(217, 217, 217, 0.8);
     border: none;
     border-radius: 100%;
     position: relative;
     background-position: center;
     background-repeat: no-repeat;
     background-size: 2rem;
     background-image: url(../img/icons/arrow-left.svg);
     cursor: pointer;
     transition: $transition;

     &:hover {
         background-color: $color-neutral-granitt-100;
     }

     &[disabled] {
         visibility: hidden;
         opacity: 0;
     }

     @include breakpoint(mobile) {
         display: none;
     }
 }

 button.next-btn,
 button[data-controls="next"] {
     background-image: url(../img/icons/arrow-right.svg);
 }