nav.tabs {
    margin: 0 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(tablet) {
        flex-wrap: wrap;
    }

    @include breakpoint(mobile) {
        margin: 0 0 0.2rem;
    }

    ul {
        display: flex;

        @include breakpoint(mobile) {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                opacity: 0;
            }
        }

        li {
            font-size: 1.25rem;
            line-height: 150%;
            padding: 0.5rem 0.75rem;
            color: $color-black-text-disabled;
            border-bottom: 2px solid $color-black-text-disabled;
            transition: $transition;
            font-weight: 450;
            white-space: nowrap;

            &.active {
                color: $color-black;
                border-bottom: 2px solid $color-black;
                font-weight: 500;
            }

            button {
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }

    input[type="search"] {

        @include breakpoint(tablet) {
            margin-left: auto;
        }

        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 1.5rem;
        }

        &.not-mobile {
            @include breakpoint(tablet) {
                display: none;
            }
        }
    }


}