// colors
$color-accent: #F37748;
$color-accent-hover: #dd6b41;
$color-accent2: #0FA3B1;
$color-light: #E9F1F7;
$color-light-hover: #d7dee4;
$color-dark: #355070;

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

$font: 'Gloria Hallelujah', cursive;
$font2: 'Sigmar', cursive;

* {
  box-sizing: border-box;  
}

body { 
  margin: 0;
  padding: 0;
  background-color: #355070;
  font-family: $font;
  position: relative;
}

h1, h2 {
  font-size: 2rem;
  margin: 0;
  color: $color-light;
  text-align: center;
}

h1 {
  margin-top: 1rem;
  position: relative;

  &::after {
    content: '';
    height: 0.3rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: $color-light;
    display: block;
    margin: auto;
  }
}

.container {
  width: 30em;
  height: 30em;
  margin: 2rem auto;
  background-color: $color-dark;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  overflow: hidden;
  gap: 0.2015rem;
  position: relative;

  @media(max-width: 992px) {
    width: 18rem;
    height: 18rem;
  }

  &::after {
    content: '';
    width: 90%;
    height: 5px;
    display: block;
    background-color: #000;
    border-radius: 30rem;
    position: absolute;
    top: 5rem;
    display: none;
  }

  &.diagonal::after {
    transform: rotate(45deg);
    top: 15rem;
    left: calc(50% - 45%);
  }

  .square {
    width: calc(33.333% - 0.15rem);
    height: calc(33.333% - 0.15rem);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light;
    transition: background-color 0.5s;
    font-size: 3rem;
    font-family: $font2;
    font-weight: 600;
    border: none;
    

    &:hover {
      background-color: $color-light-hover;
    }

    &.winner {
      background-color: $color-accent-hover;
    }

    span {
      opacity: 0;
    }
  }
}

.reset {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  border: none;
  background-color: $color-accent;
  color: $color-light;
  text-transform: uppercase;
  cursor: pointer;
  font-family: $font2;
  letter-spacing: 0.2rem;
  margin: 4rem auto 1rem;
  display: block;
  transition: all 0.5s;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: $color-accent-hover;
  }
}

p {
  font-size: 1.4rem;
  margin: 0;
  color: $color-light;
  text-align: center;
}