.main-item {
    margin: 1rem 0 1.5rem;
    box-shadow: $box-shadow;

    &.list-item {
        border: none;
    }

    input {
        width: 100%;
        border: none;
        background-color: $color-dark2;
        color: $color-white;
        padding: 0.4rem 0;
        font-size: 0.85rem;
    }

}