.contact {
    padding-left: $container-left;
    padding-right: $container-right;

    .contact-title {
        text-align: center;
        margin-top: 100px;
    }

    .contact-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0;

        .contact-item {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            @include sm {
                width: 30%;
                margin-bottom: 0;
            }

            .contact-link {
                color: $color-light;
            }
        }
    }


}