@charset "UTF-8";
@font-face {
  font-family: "Monda";
  src: url(../../fonts/Monda-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Monda";
  src: url(../fonts/Monda-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Staatliches";
  src: url(../fonts/Staatliches-Regular.ttf);
  font-weight: 700;
}
.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1015px;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Monda", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

a {
  color: #9913e1;
  text-decoration: none;
}

.btn,
a.btn,
input.btn,
button.btn {
  font-size: 18px;
  text-transform: uppercase;
  color: #9913e1;
  font-weight: 700;
  padding: 12px 60px;
  border: 4px solid #9913e1;
  background-color: transparent;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn::before,
a.btn::before,
input.btn::before,
button.btn::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  display: block;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  background-color: #9913e1;
  border-radius: 50px;
  transition: all 0.5s;
  opacity: 0;
  z-index: -1;
}
.btn:hover,
a.btn:hover,
input.btn:hover,
button.btn:hover {
  color: #e0e0e0;
}
.btn:hover::before,
a.btn:hover::before,
input.btn:hover::before,
button.btn:hover::before {
  opacity: 1;
  width: 110%;
  height: 120%;
  left: 50%;
}
.btn.btn-light,
a.btn.btn-light,
input.btn.btn-light,
button.btn.btn-light {
  color: #e0e0e0;
  border: 4px solid #e0e0e0;
}
.btn.btn-light::before,
a.btn.btn-light::before,
input.btn.btn-light::before,
button.btn.btn-light::before {
  background-color: #e0e0e0;
}
.btn.btn-light:hover,
a.btn.btn-light:hover,
input.btn.btn-light:hover,
button.btn.btn-light:hover {
  color: #9913e1;
}
.btn.btn-light-full,
a.btn.btn-light-full,
input.btn.btn-light-full,
button.btn.btn-light-full {
  background-color: #e0e0e0;
}
.btn.btn-light-full:hover,
a.btn.btn-light-full:hover,
input.btn.btn-light-full:hover,
button.btn.btn-light-full:hover {
  background-color: #9913e1;
}

p {
  margin: 0 0 25px;
  vertical-align: baseline;
}
p b {
  color: #9913e1;
  font-weight: 700;
  font-size: 20px;
}
p span.p-light {
  color: #e0e0e0;
}

h2.heading-big,
h3.heading-big,
.heading-big {
  font-family: "Staatliches", cursive;
  color: #000;
  font-size: 60px;
  line-height: 65px;
  margin: 0;
}
@media (min-width: 768px) {
  h2.heading-big,
h3.heading-big,
.heading-big {
    font-size: 75px;
    line-height: 84px;
  }
}
@media (min-width: 1200px) {
  h2.heading-big,
h3.heading-big,
.heading-big {
    font-size: 96px;
    line-height: 92px;
  }
}
h2.heading-big span,
h3.heading-big span,
.heading-big span {
  color: #9913e1;
}
h2.heading-big span.heading-light,
h3.heading-big span.heading-light,
.heading-big span.heading-light {
  color: #e0e0e0;
}

.heading-bg-1, .heading-bg-2,
h1.heading-bg-1, h1.heading-bg-2,
h2.heading-bg-1, h2.heading-bg-2,
h3.heading-bg-1, h3.heading-bg-2 {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #000;
  color: #e0e0e0;
  display: inline-block;
  padding: 4px 10px 7px;
  transform: rotate(-6deg);
  display: inline-block;
  text-align: center;
}

.heading-bg-2,
h1.heading-bg-2,
h2.heading-bg-2,
h3.heading-bg-2 {
  background-color: #9913e1;
  transform: rotate(-3deg);
}

img {
  max-width: 100%;
}

.arrow-prev,
.arrow-next {
  width: 30px;
  cursor: pointer;
  transition: filter 0.5s, opacity 0.5s, transform 0.5s;
}
.arrow-prev[aria-disabled=true],
.arrow-next[aria-disabled=true] {
  opacity: 0.4;
  filter: grayscale(1);
}
@media (min-width: 992px) {
  .arrow-prev,
.arrow-next {
    width: 50px;
  }
}

.arrow-prev {
  transform: rotate(90deg);
  margin-left: 30px;
}
.arrow-prev:not([aria-disabled=true]):hover {
  transform: rotate(90deg) scale(1.1);
}

.arrow-next {
  transform: rotate(-90deg);
  margin-right: 30px;
}
.arrow-next:not([aria-disabled=true]):hover {
  transform: rotate(-90deg) scale(1.1);
}

.overlay {
  position: fixed;
  z-index: -999;
}

body.show-overlay .overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}
body.show-overlay .overlay .overlay-item {
  background-color: #9913e1;
  width: 100%;
  transition: all 1s;
  left: 0;
  height: 10%;
}
body.show-overlay .overlay .overlay-item.hide-right {
  margin-left: 100%;
}
body.show-overlay .overlay .overlay-item.hide-left {
  margin-left: -100%;
}
body.show-overlay .overlay img.overflow-logo {
  width: 278px;
  position: absolute;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0) invert(1);
  transition: opacity 0.6s;
}

.header {
  display: flex;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}
.header::before {
  content: url(../img/header-paper.png);
  position: absolute;
  top: -91px;
  left: -37px;
}
@media (min-width: 992px) {
  .header::before {
    top: 0;
    left: 0;
  }
}
.header::after {
  content: url(../img/header-bg.png);
  position: absolute;
  top: 0;
  left: 18%;
}
.header .header-left {
  width: 100%;
}
.header .header-left::before {
  content: "";
  width: 200vw;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #e0e0e0;
  opacity: 0;
}
.header .header-left.shadow::before {
  opacity: 1;
}
@media (min-width: 1200px) {
  .header .header-left {
    width: 70%;
  }
}
.header .header-left .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 30px 50px 30px;
}
@media (min-width: 992px) {
  .header .header-left .menu {
    padding: 110px 50px 70px 90px;
  }
}
.header .header-left .menu .logo {
  z-index: 3;
}
.header .header-left .menu .logo img {
  height: 67px;
}
@media (min-width: 992px) {
  .header .header-left .menu .logo img {
    height: 77px;
  }
}
.header .header-left .menu button.menu-btn {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  position: fixed;
  right: 30px;
  top: 30px;
}
.header .header-left .menu button.menu-btn span {
  width: 90%;
  height: 3px;
  background-color: #e0e0e0;
  display: block;
  margin: 3px 0;
  transition: all 0.5s;
}
.header .header-left .menu button.menu-btn.open {
  z-index: 99999;
}
.header .header-left .menu button.menu-btn.open span:first-child {
  transform: rotate(45deg) translate(7px, 6px);
}
.header .header-left .menu button.menu-btn.open span:nth-child(2) {
  transform: translateX(-100vw);
}
.header .header-left .menu button.menu-btn.open span:last-child {
  transform: rotate(-45deg) translate(7px, -6px);
}
@media (min-width: 992px) {
  .header .header-left .menu button.menu-btn {
    display: none;
  }
}
.header .header-left .menu ul.menu-list {
  list-style-type: none;
  left: -100vw;
  transition: left 0.4s;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: -100vw;
  height: 100vh;
  top: 0;
  padding-top: 40px;
  background-color: #9913e1;
  width: calc(100% - 120px);
  margin: 0;
  z-index: 9999;
  box-shadow: 3px 0px 8px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .header .header-left .menu ul.menu-list {
    padding-top: unset;
    background-color: transparent;
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    box-shadow: none;
  }
  .header .header-left .menu ul.menu-list::before {
    display: none;
  }
}
.header .header-left .menu ul.menu-list li.menu-item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-left: -100vw;
}
@media (min-width: 992px) {
  .header .header-left .menu ul.menu-list li.menu-item {
    padding: 10px;
    margin-left: unset;
  }
}
.header .header-left .menu ul.menu-list li.menu-item a {
  color: #ffffff;
  font-size: 30px;
}
@media (min-width: 992px) {
  .header .header-left .menu ul.menu-list li.menu-item a {
    color: #000;
    font-size: 20px;
    position: relative;
  }
  .header .header-left .menu ul.menu-list li.menu-item a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #9913e1;
    display: block;
    transition: all 0.3s;
  }
}
.header .header-left .menu ul.menu-list li.menu-item:hover a::before {
  width: 100%;
}
.header .header-left .menu ul.menu-list li.menu-item.active a {
  font-weight: 700;
}
.header .header-left .menu ul.menu-list li.menu-item.active a::before {
  content: "• ";
}
@media (min-width: 992px) {
  .header .header-left .menu ul.menu-list li.menu-item.active a::before {
    content: "";
  }
}
@media (min-width: 992px) {
  .header .header-left .menu ul.menu-list li.menu-item:not(:last-child) {
    margin-right: 50px;
  }
}
.header .header-left .menu ul.menu-list.collapsed {
  left: 0;
  overflow: hidden;
}
.header .header-left .menu ul.menu-list.collapsed li.menu-item {
  -webkit-animation: showLi 0.5s forwards;
          animation: showLi 0.5s forwards;
}
@-webkit-keyframes showLi {
  100% {
    margin-left: unset;
  }
}
@keyframes showLi {
  100% {
    margin-left: unset;
  }
}
.header .header-title {
  text-align: center;
  position: relative;
}
.header .header-title .header-title--img {
  height: 208px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .header .header-title .header-title--img {
    height: 278px;
  }
}
.header .header-title .header-shape {
  height: 342px;
  position: absolute;
  left: calc(50% + 60px);
  top: -26px;
  z-index: 0;
}
.header .header-title .header-text {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
@media (min-width: 992px) {
  .header .header-title .header-text {
    width: 520px;
  }
}
.header .header-title .header-text .heading-bg-1,
.header .header-title .header-text .heading-bg-2 {
  margin: 0;
}
.header .header-title .header-text .heading-bg-2 {
  margin-left: auto;
  margin-bottom: 30px;
}
.header .header-title .header-text p {
  margin-bottom: 90px;
}
.header .header-scroll {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 70px;
  z-index: 9;
  transition: all 0.5s;
}
.header .header-scroll img {
  height: 100%;
}
.header .header-scroll:hover {
  transform: scale(1.1);
}
@media (min-width: 992px) {
  .header .header-scroll {
    height: 112px;
    bottom: 90px;
    left: 90px;
  }
}
.header .header-right {
  display: none;
  background-image: url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  .header .header-right {
    width: 30%;
    display: block;
  }
}

.party-small {
  background-color: #9913e1;
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  text-align: center;
}
@media (min-width: 1200px) {
  .party-small {
    text-align: left;
  }
}
.party-small .party-small--shape {
  height: 150px;
  position: absolute;
  left: -20px;
  bottom: -10px;
  z-index: 0;
}
@media (min-width: 1200px) {
  .party-small .party-small--shape {
    height: 255px;
    left: -38px;
    bottom: -35px;
  }
}
.party-small .container {
  display: flex;
  flex-wrap: wrap;
}
.party-small .container .party-small--title {
  width: 100%;
  z-index: 1;
}
@media (min-width: 1200px) {
  .party-small .container .party-small--title {
    width: 45%;
  }
}
.party-small .container .party-small--text {
  width: 100%;
  z-index: 1;
  margin: 30px 0;
}
@media (min-width: 1200px) {
  .party-small .container .party-small--text {
    width: 42%;
  }
}
.party-small .container .party-small--text p {
  margin: 5px 0 25px;
}

.events {
  padding: 70px 0 80px;
  background-image: url(../img/events-paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}
.events::before {
  content: url(../img/events-bg-left.png);
  position: absolute;
  bottom: -80px;
  height: 426px;
  left: 10px;
}
.events::after {
  content: url(../img/events-bg-right.png);
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  height: 426px;
  right: 0;
}
@media (min-width: 1400px) {
  .events {
    padding: 140px 0 125px;
  }
}
.events .events-arrow {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .events .events-arrow {
    margin-bottom: 70px;
  }
}
.events .events-arrow .events-arrow--num {
  font-family: "Monda", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #9913e1;
}
.events .events-arrow .events-arrow--img {
  width: 30px;
  transform: rotate(-90deg);
  margin-left: 55px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .events .events-arrow .events-arrow--img {
    width: 50px;
    margin-right: 0;
  }
}
.events .events-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.events .events-title .heading-bg-1 {
  margin-right: -20px;
  z-index: 1;
}
.events .events-title .heading-bg-2 {
  margin-left: -20px;
  transform: rotate(4deg);
  position: relative;
  top: 30px;
  z-index: 1;
}
.events .events-text {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.events .events-text p {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  word-wrap: break-word;
  z-index: 1;
}
@media (min-width: 1200px) {
  .events .events-text p {
    width: 50%;
    text-align: left;
  }
}
.events .events-text .event-text--shape {
  width: 380px;
  position: absolute;
  left: 40px;
  top: -80px;
  z-index: 0;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.tickets .tickets-item--left {
  width: 100%;
}
@media (min-width: 992px) {
  .tickets .tickets-item--left {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .tickets .tickets-item--left {
    width: 37%;
  }
}
.tickets .tickets-order {
  order: -1;
}
@media (min-width: 992px) {
  .tickets .tickets-order {
    order: 0;
  }
}
.tickets .tickets-item--right {
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .tickets .tickets-item--right {
    width: 50%;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .tickets .tickets-item--right {
    width: 63%;
  }
}
.tickets .tickets-item--left img,
.tickets .tickets-item--right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.tickets .tickets-img--short {
  height: 250px;
}
.tickets .tickets-mobile-height {
  height: 450px;
}
.tickets .tickets-mobile-height img {
  -o-object-position: 0 9%;
     object-position: 0 9%;
}
@media (min-width: 992px) {
  .tickets .tickets-mobile-height {
    height: auto;
  }
}
.tickets .tickets-item--main {
  background-color: #e0e0e0;
  padding: 60px 40px 40px;
}
@media (min-width: 1200px) {
  .tickets .tickets-item--main {
    padding: 140px 78px 50px;
  }
}
.tickets .tickets-item--main .heading-big {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.tickets .tickets-item--main .heading-big::after {
  content: url(../img/tickets-shape.png);
  position: absolute;
  width: 420px;
  bottom: -30px;
  right: -50px;
  z-index: -1;
}
@media (min-width: 992px) {
  .tickets .tickets-item--main .heading-big::after {
    width: 420px;
  }
}
.tickets .tickets-item--main .tickets-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .tickets .tickets-item--main .tickets-text {
    margin-bottom: 125px;
  }
}
.tickets .tickets-item--main .tickets-text .tickets-text-wrapper {
  width: 100%;
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .tickets .tickets-item--main .tickets-text .tickets-text-wrapper {
    width: calc(50% - 15px);
  }
}
.tickets .tickets-item--main .ticets-slider-outer {
  position: relative;
  width: 200%;
  height: 225px;
  left: -50px;
}
@media (min-width: 992px) {
  .tickets .tickets-item--main .ticets-slider-outer {
    left: -100%;
  }
}
.tickets .tickets-item--main .ticets-slider {
  position: absolute;
  width: 100%;
}
@media (min-width: 992px) {
  .tickets .tickets-item--main .ticets-slider {
    width: 95%;
    left: 5%;
  }
}
@media (min-width: 1200px) {
  .tickets .tickets-item--main .ticets-slider {
    width: 80%;
    left: 20%;
  }
}
.tickets .tickets-item--main .ticets-slider .tns-item {
  height: 225px;
}
.tickets .tickets-item--main .ticets-slider .tns-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-text {
  display: flex;
  flex-wrap: wrap;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}
.slider-text::before {
  content: url(../img/slider-paper.png);
  position: absolute;
  left: -150px;
  top: -130px;
}
@media (min-width: 992px) {
  .slider-text::before {
    left: 0;
    top: 0;
  }
}
.slider-text .slider-text--wrapper,
.slider-text .slider-text--img {
  width: 100%;
}
@media (min-width: 992px) {
  .slider-text .slider-text--wrapper,
.slider-text .slider-text--img {
    width: 50%;
  }
}
.slider-text .slider-text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/events-shape.png) no-repeat;
  background-position: center 20%;
  padding-top: 100px;
  padding-bottom: 60px;
  z-index: 9;
  background-size: 60%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  .slider-text .slider-text--wrapper {
    padding-top: 280px;
    padding-bottom: 120px;
    background-position: center 35%;
    background-size: auto;
  }
}
.slider-text .slider-text--wrapper .tns-outer {
  width: 100%;
}
.slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item {
  width: 100%;
  margin: auto;
  text-align: center;
}
.slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item .heading-bg-1 {
  margin-top: 30px;
}
.slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item .heading-bg-2 {
  margin-left: 60px;
  margin-top: 0;
}
.slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item p {
  max-width: 410px;
  margin: auto;
}
.slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item p.slider-text--slider-p {
  margin-top: 30px;
  margin-bottom: 65px;
}
.slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item .btn {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .slider-text .slider-text--wrapper .tns-outer .slider-text--slider-item .btn {
    margin-bottom: 100px;
  }
}
.slider-text .slider-text--wrapper .slider-text--arrows {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .slider-text .slider-text--wrapper .slider-text--arrows {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .slider-text .slider-text--wrapper .slider-text--arrows {
    width: 410px;
  }
}
.slider-text .slider-text--wrapper .slider-text--arrows img {
  width: 30px;
}
@media (min-width: 992px) {
  .slider-text .slider-text--wrapper .slider-text--arrows img {
    width: 52px;
  }
}
.slider-text .slider-text--wrapper .slider-text--arrows .slider-text--arrows-prev {
  margin-left: 30px;
}
.slider-text .slider-text--wrapper .slider-text--arrows .slider-text--arrows-next {
  margin-right: 30px;
}
.slider-text .slider-text--img {
  display: none;
}
@media (min-width: 992px) {
  .slider-text .slider-text--img {
    display: block;
  }
}
.slider-text .slider-text--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.party2 {
  position: relative;
  background-color: #e0e0e0;
  padding: 70px 0;
}
@media (min-width: 992px) {
  .party2 {
    padding: 150px 0;
  }
}
.party2 img.party2-shape1,
.party2 img.party2-shape2 {
  position: absolute;
  z-index: 0;
}
.party2 img.party2-shape1 {
  height: 265px;
  top: 130px;
}
.party2 img.party2-shape2 {
  height: 255px;
  right: 0;
  bottom: 100px;
}
.party2 .container {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}
.party2 .container .party2-title,
.party2 .container .party2-text {
  width: 100%;
}
@media (min-width: 992px) {
  .party2 .container .party2-title,
.party2 .container .party2-text {
    width: 50%;
  }
}
.party2 .party2-text {
  text-align: right;
  padding-top: 30px;
}
.party2 .party2-text .heading-bg-1 {
  margin-right: 60px;
  margin-bottom: 10px;
}
.party2 .party2-text .heading-bg-2 {
  margin-top: -5px;
  margin-bottom: 50px;
  margin-left: auto;
  display: block;
  width: 345px;
}
.party2 .party2-text p {
  text-align: center;
}

.party-img {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.party-img .party-img--img,
.party-img .party-img--text {
  width: 100%;
}
@media (min-width: 992px) {
  .party-img .party-img--img,
.party-img .party-img--text {
    width: 50%;
  }
}
.party-img .party-img--img {
  max-height: 400px;
}
@media (min-width: 992px) {
  .party-img .party-img--img {
    max-height: 825px;
  }
}
.party-img .party-img--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}
.party-img .party-img--text {
  position: relative;
  background-color: #9913e1;
  padding: 100px 75px 80px 40px;
}
@media (min-width: 768px) {
  .party-img .party-img--text {
    padding: 200px 75px 130px 60px;
  }
}
@media (min-width: 1200px) {
  .party-img .party-img--text {
    padding: 255px 75px 130px 150px;
  }
}
.party-img .party-img--text::before {
  content: "";
  background: url(../img/party-paper.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 90px;
  height: 90%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
@media (min-width: 768px) {
  .party-img .party-img--text::before {
    right: -14px;
  }
}
.party-img .party-img--text .party-img--arrows {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
}
@media (min-width: 768px) {
  .party-img .party-img--text .party-img--arrows {
    top: 70px;
    left: 30px;
    height: 120px;
  }
}
@media (min-width: 992px) {
  .party-img .party-img--text .party-img--arrows {
    left: 70px;
    height: 159px;
  }
}
.party-img .party-img--text .heading-big {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .party-img .party-img--text .heading-big {
    margin-bottom: 65px;
  }
}
.party-img .party-img--text p {
  margin-bottom: 40px;
  position: relative;
}
@media (min-width: 992px) {
  .party-img .party-img--text p {
    width: 410px;
  }
}
.party-img .party-img--text p .party-img--arrow {
  position: absolute;
  bottom: -200px;
  right: 0;
  height: 77px;
}
@media (min-width: 768px) {
  .party-img .party-img--text p .party-img--arrow {
    height: 110px;
  }
}
@media (min-width: 992px) {
  .party-img .party-img--text p .party-img--arrow {
    height: 164px;
  }
}

.team {
  background-color: #e0e0e0;
  overflow: hidden;
  padding: 60px 0 70px;
  position: relative;
}
@media (min-width: 992px) {
  .team {
    padding: 260px 0 190px;
  }
}
.team .team-bg-img {
  position: absolute;
  left: 5%;
  top: 0;
  top: -75px;
  height: 370px;
}
.team .container {
  position: relative;
}
.team::before, .team::after {
  width: 90px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -10px;
}
@media (min-width: 992px) {
  .team::before, .team::after {
    content: "";
  }
}
.team::before {
  background-image: url(../img/team-paper-left.png);
  left: 0;
}
.team::after {
  background-image: url(../img/team-paper-right.png);
  right: -10px;
}
.team .team-slider--wrapper {
  max-width: 600px;
  margin: auto;
  text-align: center;
  width: 80%;
}
@media (min-width: 992px) {
  .team .team-slider--wrapper {
    width: auto;
  }
}
.team .team-slider--wrapper .team-slider .team-slider-item {
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.3s;
}
.team .team-slider--wrapper .team-slider .team-slider-item img.team-symbol {
  height: 50px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team .team-slider--wrapper .team-slider .team-slider-item img.team-symbol {
    height: 90px;
    margin-bottom: 45px;
  }
}
.team .team-slider--wrapper .team-slider .team-slider-item .team-name {
  margin-bottom: 45px;
}
.team .team-slider--wrapper .team-slider .team-slider-item.tns-slide-active {
  opacity: 1;
}
.team .team-slider--wrapper .team--arrows {
  position: absolute;
  top: 43%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .team .team-slider--wrapper .team--arrows {
    top: 50%;
  }
}
@media (min-width: 992px) {
  .team .team-slider--wrapper .team--arrows {
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .team .team-slider--wrapper .team--arrows {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-photo {
  height: 294px;
  width: 100%;
}
.section-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #e0e0e0;
  overflow: hidden;
}
.contact .contact-form,
.contact .contact-img {
  width: 100%;
}
@media (min-width: 992px) {
  .contact .contact-form,
.contact .contact-img {
    width: 50%;
  }
}
.contact .contact-form {
  background-color: #9913e1;
  padding: 70px 50px;
  position: relative;
}
@media (min-width: 1200px) {
  .contact .contact-form {
    padding: 125px 140px;
  }
}
.contact .contact-form::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 90%;
  display: block;
  background-image: url(../img/contact-paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 1200px) {
  .contact .contact-form::before {
    width: 135px;
  }
}
.contact .contact-form .heading-big {
  text-align: center;
}
@media (min-width: 992px) {
  .contact .contact-form .heading-big {
    text-align: left;
  }
}
.contact .contact-form form {
  margin-top: 40px;
}
.contact .contact-form form input,
.contact .contact-form form textarea {
  width: 100%;
  padding: 16px 40px;
  border: 4px solid #e0e0e0;
  border-radius: 50px;
  margin-bottom: 10px;
  color: #e0e0e0;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Monda", sans-serif;
  font-weight: 700;
}
.contact .contact-form form input::-moz-placeholder, .contact .contact-form form textarea::-moz-placeholder {
  color: #e0e0e0;
  font-size: 13px;
}
.contact .contact-form form input:-ms-input-placeholder, .contact .contact-form form textarea:-ms-input-placeholder {
  color: #e0e0e0;
  font-size: 13px;
}
.contact .contact-form form input::placeholder,
.contact .contact-form form textarea::placeholder {
  color: #e0e0e0;
  font-size: 13px;
}
@media (min-width: 1200px) {
  .contact .contact-form form input::-moz-placeholder, .contact .contact-form form textarea::-moz-placeholder {
    font-size: 17px;
  }
  .contact .contact-form form input:-ms-input-placeholder, .contact .contact-form form textarea:-ms-input-placeholder {
    font-size: 17px;
  }
  .contact .contact-form form input::placeholder,
.contact .contact-form form textarea::placeholder {
    font-size: 17px;
  }
}
.contact .contact-form form input.btn-light-full,
.contact .contact-form form textarea.btn-light-full {
  background-color: #e0e0e0;
  color: #9913e1;
  padding: 8px 30px;
}
.contact .contact-form form input.btn-light-full:hover,
.contact .contact-form form textarea.btn-light-full:hover {
  background-color: #9913e1;
  color: #e0e0e0;
}
.contact .contact-form form textarea {
  border-radius: 25px;
  margin-bottom: 20px;
  min-height: 300px;
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
}
.contact .contact-form form textarea::-moz-placeholder {
  font-size: 13px;
}
.contact .contact-form form textarea:-ms-input-placeholder {
  font-size: 13px;
}
.contact .contact-form form textarea::placeholder {
  font-size: 13px;
}
@media (min-width: 1200px) {
  .contact .contact-form form textarea::-moz-placeholder {
    font-size: 17px;
  }
  .contact .contact-form form textarea:-ms-input-placeholder {
    font-size: 17px;
  }
  .contact .contact-form form textarea::placeholder {
    font-size: 17px;
  }
}
.contact .contact-img {
  max-height: 930px;
  display: none;
}
@media (min-width: 992px) {
  .contact .contact-img {
    display: block;
  }
}
.contact .contact-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #e0e0e0;
  padding: 60px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 992px) {
  .footer {
    padding: 150px 120px;
  }
}
.footer::before, .footer::after {
  content: "";
  background-size: contain;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom;
}
.footer::before {
  left: 0;
  width: 150px;
  height: 60%;
  background-image: url(../img/footer-bg.png);
}
@media (min-width: 992px) {
  .footer::before {
    width: 240px;
  }
}
.footer::after {
  right: 0;
  width: 30%;
  height: 100%;
  background-image: url(../img/footer-paper.png);
}
@media (min-width: 992px) {
  .footer::after {
    width: 50%;
  }
}
.footer a.contact-logo {
  display: block;
  margin: 0 auto 51px;
}
@media (min-width: 992px) {
  .footer a.contact-logo {
    margin: unset;
  }
}
.footer a.contact-logo img {
  width: 150px;
}
.footer .footer-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .footer .footer-nav {
    width: 40%;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .footer .footer-nav {
    width: 36%;
  }
}
.footer .footer-nav .footer-nav-title {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 27px;
}
.footer .footer-nav .footer-nav-item {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .footer .footer-nav .footer-nav-item {
    width: unset;
    text-align: left;
  }
}
.footer .footer-nav ul {
  list-style: none;
  padding: 0;
}
.footer .footer-nav ul li {
  font-size: 18px;
  margin: 0 0 10px;
}
@media (min-width: 992px) {
  .footer .footer-nav ul li {
    font-size: 20px;
    margin: 0 0 18px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-nav ul li {
    font-size: 25px;
    margin: 0 0 27px;
  }
}
.footer .btn {
  padding: 12px 30px;
  margin: auto;
}
@media (min-width: 992px) {
  .footer .btn {
    margin: unset;
  }
}
@media (min-width: 1200px) {
  .footer .btn {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */