.simple {

    .simple-title,
    .simple-title-second {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 30px;

        p,
        h2,
        h3,
        h4 {
            margin: 0;
        }
    }

    .simple-title {
        margin-bottom: 20px;
        margin-top: 50px;

        @include lg {
            margin-bottom: 40px;
            margin-top: 50px;
        }
    }

    .simple-title-second {
        margin-bottom: 40px;
        margin-top: 0px;

        @include lg {
            margin-top: 50px;
        }
    }

    .simple-bg {
        position: relative;
        height: 300px;

        @include lg {
            height: auto;
        }

        img {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;

            @include lg {
                width: auto;
            }
        }
    }

    .simple-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;

        @include lg {
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            width: 100%;

            @include lg {
                width: calc(50% - 20px);
            }
        }
    }

    .simple-button {
        margin-top: 20px;
    }


}