
  
// colors
$color-light: #fff;
$color-dark: #05080D;

$color-main: #C4A66A;
$color-second: #1E332A;


// fonts 
$font-main: 'IBM Plex Sans', sans-serif;
$font-second: 'Playfair Display', serif;


//animate
$transition: all 0.5s;

//container
$container-right: 5%;
$container-left: 5%;

//border 
$border: 1px solid $color-main;