// page header
.header {
  background-image: url("../images/katarzyna-cupial-adwokat-bg.jpeg");
  background-size: cover;
  background-position: center;

  .bg-mask {
    background-color: rgba(0, 0, 0, 0.61);
  }

  .logo {
    text-align: center;
    background-color: $color-back;
    height: 230px;
    z-index: 9999999;

    @media (max-width: 992px) {
      position: absolute;
      top: 0;
      left: 0;
      height: 145px;
    }


    .img-logo {
      height: 130px;
      width: auto;
      margin-top: 40px;

      @media (max-width: 992px) {
        height: 70px;
      }
    }
  }

  nav {
    padding: 0;

    @media (max-width: 992px) {
      justify-content: flex-end;
      margin-top: 16px;
    }


    .navbar-toggler {
      color: $color-back;
    }

    .navbar-collapse {
      justify-content: flex-start;

      ul.navbar-nav {
        margin: 0;
        margin-top: 35px;
        width: 100%;
        justify-content: center;

        @media (max-width: 992px) {
          align-items: flex-end;
        }

        .nav-item {
          &::after {
            content: "";
            height: 1.5px;
            width: 45%;
            display: block;
            background-color: $color-main;
            margin-left: 30px;
            margin-top: 13px;
            opacity: 0;
            transition: $transition;

            @media (max-width: 992px) {
              display: none;
              margin-bottom: 20px;
            }

          }

          &:hover::after {
            opacity: 1;

          }

          .nav-link {
            text-transform: uppercase;
            font-size: 10px;
            color: $color-back;
            font-family: $font-second;
            font-weight: 600;
            letter-spacing: 1.5px;
            padding: 0 30px;

            @media (max-width: 992px) {
              font-size: 14px;
              text-align: right;
              margin-bottom: 30px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .header-contact {
    padding-top: 35px;

    .header-contact-container {
      text-align: right;
      width: fit-content;

      .header-contact-text,
      .header-contact-tel {
        color: $color-back;
        font-size: 11px;
        font-family: $font-second;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 2px;
      }

      .header-contact-tel {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 2px;
        transition: $transition;

        &:hover {
          color: $color-main;
        }
      }
    }
  }

  .header-title {
    @media (max-width: 992px) {
      padding: 100px 20px 0;
    }

    .main-title-container {
      padding: 30px 45px;

      @media (max-width: 992px) {
        padding: 20px 0;
      }

      .main-title {
        text-align: center;
      }

      .main-title-bottom {
        text-align: center;
        color: $color-back;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 4px;
        margin-top: -40px;

      }
    }
  }

  .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 370px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 27%, rgba(0, 0, 0, 0.5) 47%, rgba(0, 0, 0, 0.3) 64%, rgba(0, 0, 0, 0.2) 82%, rgba(0, 0, 0, 0) 100%);
    transition: $transition;

    .icon-text {
      margin-top: 30px;
    }

    img {
      transition: $transition;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .header-icon1 {
    background: linear-gradient(0deg, rgba(212, 177, 139, 1) 0%, rgba(212, 177, 139, 1) 27%, rgba(212, 177, 139, 0.7) 47%, rgba(212, 177, 139, 0.300455216266194) 64%, rgba(212, 177, 139, 0.2) 82%, rgba(212, 177, 139, 0) 100%);
  }

  .header-main-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px 50px 30px;
    background-color: $color-back;
    min-height: 370px;

    .title-name {
      color: $color-text-dark;
      font-family: $font-deco;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0;
    }

    .header-main-block-text {
      margin: 30px 0;
    }

  }
}

.header-small {
  background-position: top;

  .header-title {
    .main-title-container {

      .main-title {
        text-align: left;
        margin-top: 50px;

        @media (max-width: 992px) {
          text-align: center;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
}