.contact {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-light;
    overflow: hidden;

    .contact-form,
    .contact-img {
        width: 100%;

        @include lg {
            width: 50%;
        }
    }

    .contact-form {
        background-color: $color-main;
        padding: 70px 50px;
        position: relative;

        @include xl {
            padding: 125px 140px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 90%;
            display: block;
            background-image: url(../img/contact-paper.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;

            @include xl {
                width: 135px;
            }
        }

        .heading-big {
            text-align: center;

            @include lg {
                text-align: left;
            }
        }
        
        form {
            margin-top: 40px;

            input,
            textarea {
                width: 100%;
                padding: 16px 40px;
                border: 4px solid $color-light;
                border-radius: 50px;
                margin-bottom: 10px;
                color: $color-light;
                background-color: transparent;
                text-transform: uppercase;
                font-family: $font-family-text;
                font-weight: $font-bold;
                
                &::placeholder {
                    color: $color-light;
                    font-size: 13px;

                    @include xl {
                        font-size: 17px;
                    }

                }

                &.btn-light-full {
                    background-color: $color-light;
                    color: $color-main;
                    padding: 8px 30px;

                    &:hover {
                        background-color: $color-main;
                        color: $color-light;
                    }
                }
            }

            textarea {
                border-radius: 25px;
                margin-bottom: 20px;
                min-height: 300px;
                max-height: 300px;
                min-width: 100%;
                max-width: 100%;

                &::placeholder {
                    font-size: 13px;

                    @include xl {
                        font-size: 17px;
                    }
                }
                
            }
        }
    }

    .contact-img {
        max-height: 930px;
        display: none;

        @include lg {
            display: block;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}