.footer {
    background-color: $color-light;
    padding: 60px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;

    @include lg {
        padding: 150px 120px;
    }

    &::before,
    &::after {
        content: "";
        background-size: contain;
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &::before {
        left: 0;
        width: 150px;
        height: 60%;
        background-image: url(../img/footer-bg.png);

        @include lg {
            width: 240px;
        }
    }

    &::after {
        right: 0;
        width: 30%;
        height: 100%;
        background-image: url(../img/footer-paper.png);

        @include lg {
            width: 50%;
        }
    }

    a.contact-logo {
        display: block;
        margin: 0 auto 51px;

        @include lg {
            margin: unset;
        }

        img {
            width: 150px;
        }
        
    }

    .footer-nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include lg {
            width: 40%;
            justify-content: space-between;
        }

        @include xl {
            width: 36%;
        }

        .footer-nav-title {
            font-size: 25px;
            font-weight: $font-bold;
            margin: 0 0 27px;
        }

        .footer-nav-item {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;

            @include lg {
                width: unset;
                text-align: left;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 18px;
                margin: 0 0 10px;

                @include lg {
                    font-size: 20px;
                    margin: 0 0 18px;
                }

                @include xl {
                    font-size: 25px;
                    margin: 0 0 27px;
                }
            }
        }
    }

    .btn {
        padding: 12px 30px;
        margin: auto;

        @include lg {
            margin: unset;
        }

        @include xl {
            width: 300px;
        }
    }

}