.header {
    display: flex;
    background-color: $color-light;
    position: relative;
    overflow: hidden;

    &::before {
        content: url(../img/header-paper.png);
        position: absolute;
        top: -91px;
        left: -37px;

        @include lg {
            top: 0;
            left: 0;
        }
    }

    &::after {
        content: url(../img/header-bg.png);
        position: absolute;
        top: 0;
        left: 18%;
    }

    .header-left {
        width: 100%;

        &::before {
            //transition: all 0.1s;
            content: "";
            width: 200vw;
            height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            background: $color-light;
            opacity: 0;
            
        }

        &.shadow {
            &::before {
                opacity: 1;
            }

        }

        @include xl {
            width: 70%;
        }

        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 18px 30px 50px 30px;

            @include lg {
                padding: 110px 50px 70px 90px;
            }

            .logo {
                z-index: 3;

                img {
                    height: 67px;

                    @include lg {
                        height: 77px;
                    }
                }

            }

            button.menu-btn {
                border: none;
                outline: none;
                width: 50px;
                height: 50px;
                border-radius: 5px;
                background-color: $color-dark;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 9999;
                position: fixed;
                right: 30px;
                top: 30px;

                span {
                    width: 90%;
                    height: 3px;
                    background-color: $color-light;
                    display: block;
                    margin: 3px 0;
                    transition: all 0.5s;
                }

                &.open {
                    z-index: 99999;

                    span:first-child {
                        transform: rotate(45deg) translate(7px, 6px);
                    }

                    span:nth-child(2) {
                        transform: translateX(-100vw)
                    }

                    span:last-child {
                        transform: rotate(-45deg) translate(7px, -6px);
                    }

                }

                
                @include lg {
                    display: none;
                }
            }

            ul.menu-list {
                list-style-type: none;
                left: -100vw;
                transition: left 0.4s;
                position: fixed;
                display: flex;
                flex-direction: column;
                left: -100vw;
                height: 100vh;
                top: 0;
                padding-top: 40px;
                background-color: $color-main;
                width: calc(100% - 120px);
                margin: 0;
                z-index: 9999;
                box-shadow: 3px 0px 8px 1px rgba(0,0,0,0.2);

                @include lg {
                    padding-top: unset;
                    background-color: transparent;
                    display: flex;
                    position: static;
                    flex-direction: row;
                    width: auto;
                    height: auto;
                    box-shadow: none;

                    &::before {
                        display: none;
                    }
    
                }

                li.menu-item {
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    padding: 15px 0;
                    margin-left: -100vw;

                    @include lg {
                        padding: 10px;
                        margin-left: unset;
                    }

                    a {
                        color: #ffffff;
                        font-size: 30px;

                        @include lg {
                            color: $color-dark;
                            font-size: 20px;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: -10px;
                                width: 0;
                                height: 2px;
                                background-color: $color-main;
                                display: block;
                                transition: all 0.3s;
                            }
                        }
                    }

                    &:hover {
                        a::before {
                            width: 100%;
                        }
                    }

                    &.active {
                        a {
                            font-weight: $font-bold;

                            &::before {
                                content: "• ";
                            }
    
                            @include lg {
                                &::before {
                                    content: "";
                                }
                            }
                        }
                    }

                    @include lg {
                        &:not(:last-child) {
                            margin-right: 50px;
                        }
                    }
                }

                &.collapsed {
                    left: 0;
                    overflow: hidden;

                    li.menu-item {
                        animation: showLi 0.5s forwards;
                    }

                    @keyframes showLi {
                        100% {
                            margin-left: unset;
                        }
                    }
                }
            }
        }
    }


    .header-title {
        text-align: center;
        position: relative;

        .header-title--img {
            height: 208px;
            position: relative;
            z-index: 1;
            margin-bottom: 40px;

            @include lg {
                height: 278px;
            }
        }

        .header-shape {
            height: 342px;
            position: absolute;
            left: calc(50% + 60px);
            top: -26px;
            z-index: 0;
        }

        .header-text {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: auto;

            @include lg {
                width: 520px;
            }

            .heading-bg-1,
            .heading-bg-2 {
                margin: 0;
            }

            .heading-bg-2 {
                margin-left: auto;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 90px;
            }
        }
    }

    .header-scroll {
        position: absolute;
        bottom: 20px;
        left: 20px;
        height: 70px;
        z-index: 9;
        transition: all 0.5s;

        img {
            height: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }

        @include lg {
            height: 112px;
            bottom: 90px;
            left: 90px;
        }

    }

    .header-right {
        display: none;
        background-image: url(../img/header-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @include xl {
            width: 30%;
            display: block;
        }
    }
}