.party2 {
    position: relative;
    background-color: $color-light;
    padding: 70px 0;

    @include lg {
        padding: 150px 0;
    }

    img.party2-shape1,
    img.party2-shape2 {
        position: absolute;
        z-index: 0;
    }

    img.party2-shape1 {
        height: 265px;
        top: 130px;
    }

    img.party2-shape2 {
        height: 255px;
        right: 0;
        bottom: 100px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        position: relative;

        .party2-title,
        .party2-text {
            width: 100%;

            @include lg {
                width: 50%;
            }
        }
    }

    .party2-text {
        text-align: right;
        padding-top: 30px;

        .heading-bg-1 {
            margin-right: 60px;
            margin-bottom: 10px;
        }

        .heading-bg-2 {
            margin-top: -5px;
            margin-bottom: 50px;
            margin-left: auto;
            display: block;
            width: 345px;
        }

        p {
            text-align: center;
        }



    }


}