.team {
    background-color: $color-light;
    overflow: hidden;
    padding: 60px 0 70px;
    position: relative;

    @include lg {
        padding: 260px 0 190px;
    }

    .team-bg-img {
        position: absolute;
        left: 5%;
        top: 0;
        top: -75px;
        height: 370px;
    }

    .container {
        position: relative;
    }

    &::before,
    &::after {
        width: 90px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -10px;

        @include lg {
            content: "";
        }
    }
    
    &::before {
        background-image: url(../img/team-paper-left.png);
        left: 0;
    }

    &::after {
        background-image: url(../img/team-paper-right.png);
        right: -10px;
    }

    .team-slider--wrapper {
        max-width: 600px;
        margin: auto;
        text-align: center;
        width: 80%;

        @include lg {
            width: auto;
        }

        .team-slider {
            .team-slider-item {
                opacity: 0;
                transition: opacity 0.5s;
                transition-delay: 0.3s;

                img.team-symbol {
                    height: 50px;
                    margin-bottom: 30px;

                    @include md {
                        height: 90px;
                        margin-bottom: 45px;
                    }
                }

                .team-name {
                    margin-bottom: 45px;
                }

                &.tns-slide-active {
                    opacity: 1;
                }
            }
        }

        .team--arrows {
            position: absolute;
            top: 43%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 90%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include md {
                top: 50%;
            }

            @include lg {
                width: 100%;
                left: 0;
                transform: translateY(-50%);
                padding-left: 60px;
                padding-right: 60px;
            }

            @include xl {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}