// colors
$color-dark1: #181824;
$color-dark2: #25273c;
$color-white: #fff;
$color-white-opacity: rgba(255,255,255,0.2);
$color-active: #0785c0;

//animations
$transition: all 0.5s;

//shadow
$box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.53);


body {
    margin: 0;
    padding: 0;
    background-color: $color-dark1;
    font-size: 100%;
}

input {
    margin: 0;
    padding: 0;

    &:focus,
    &:active {
        outline: none;
    }
}


